<div style="width: 100%">
  <div style="margin-left: 20px;margin-right: 20px;">
    <div style="margin-bottom: 10px;">医生名：<input type="text" id="doc_name">患者名：<input type="text" id="pat_name">
      <button id="search_ships_btn">搜索</button>&nbsp;<button id="clear_ships_btn">清空</button>
    </div>

    <table id="list_doc2pat_ships"></table>
    <div id="page_doc2pats"></div>
  </div>
</div>

<script type="text/javascript">
    //搜索
    $('#search_ships_btn').click(function () {
        var doc_name = $('#doc_name').val();
        var pat_name = $('#pat_name').val();
        jQuery("#list_doc2pat_ships").jqGrid('setGridParam', {url: "/treatment_relationships/index_show?patient_name=" + pat_name + "&doctor_name=" + doc_name}).trigger("reloadGrid")
    });
    //清空
    $('#clear_ships_btn').click(function () {
        $('#doc_name').val('');
        $('#pat_name').val('');
    });

    jQuery("#list_doc2pat_ships").jqGrid({
        url: '/treatment_relationships/index_show',
        datatype: "json",
        autowidth:true,
        height: 'auto',
        colNames: ['ID','医生ID', '医生名', '患者ID', '患者名'],
        colModel: [
            {name: 'id', index: 'id', sorttype: "int", align: "center", hidden: true},
            {name: 'doctor_id', index: 'doctor_id',editable: true, align: "center", hidden: true, editrules: {edithidden: true}, edittype: 'select',
                editoptions: {
                    dataInit: function (element) {
                        $(element).select2();
                    },
                    style: "width:166px",
                    value: function () {
                        var positions;
                        $.ajax({
                            url: "/treatment_relationships/get_doctors",
                            async: false,
                            success: function (data) {
                                positions = data.doctors;
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                alert(textStatus);
                            }
                        });
                        return positions;
                    }}},
            {name: 'doctor_name', index: 'doctor_name',align: "center", jsonmap: 'doctor.name' },
            {name: 'patient_id', index: 'patient_id', editable: true,  align: "center", hidden: true, editrules: {edithidden: true}, edittype: 'select',
                editoptions: {
                    dataInit: function (element) {
                        $(element).select2();
                    },
                    style: "width:166px",
                    value: function () {
                        var positions;
                        $.ajax({
                            url: "/treatment_relationships/get_patients",
                            async: false,
                            success: function (data) {
                                positions = data.patients;
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                alert(textStatus);
                            }
                        });
                        return positions;
                    }}},
            {name: 'patient_name', index: 'patient_iname', jsonmap:'patient.name', align: "center" }
        ],
        rowNum: 20,
        rowList: [10, 20, 30],
        pager: '#page_doc2pats',
        sortname: 'id',
        viewrecords: true,
        sortorder: "desc",
        multiselect: true,
        subGrid: false,
        caption: "医患关系管理",
        rownumbers: true,
        page: 1,
        prmNames: {
            page: "page", // 表示请求页码的参数名称
            rows: "rows", // 表示请求行数的参数名称
            id: "id", // 表示当在编辑数据模块中发送数据时，使用的id的名称
            //   npage: null,
            totalrows: "totalrows", // 表示需从Server得到总共多少行数据的参数名称，参见jqGrid选项中的rowTotal
            editoper: "edit", // 当在edit模式中提交数据时，操作的名称
            addoper: "add", // 当在add模式中提交数据时，操作的名称
            deloper: "del", // 当在delete模式中提交数据时，操作的名称
            subgridid: "id" // 当点击以载入数据到子表时，传递的数据名称
        },
        editurl: '/treatment_relationships/oper_action',
        jsonReader: {
            root: "treatment_relationships",
            total: "totalpages",
            page: "currpage",
            records: "totalrecords",
            repeatitems: false
        }
    });
    jQuery("#list_doc2pat_ships").jqGrid('navGrid', '#page_doc2pats', {
                cloneToTop: true, addtext: "新增", addtitle: "新增", edittext: "编辑", edittitle: "编辑",
                deltext: "删除", deltitle: "删除", view: true, viewtext: "查看", viewtitle: "查看", search: false,
                refreshtext: "更新", refreshtitle: "更新"},
            {
                closeAfterEdit: true
            },//edit
            {
                closeAfterAdd: true
            }//add
    ).navButtonAdd('#page_doc2pats', { title: '批量删除', caption: '批量删除', onClickButton: function () {
                batch_delete()
            }, position: "last"});
    //批量删除
    function batch_delete() {
        var ids = $('#list_doc2pat_ships').jqGrid('getGridParam', 'selarrrow');
        if (ids.length == 0) {
            alert('请选择删除项！');
        } else {
            $.ajax({
                        type: 'post',
                        url: '/treatment_relationships/batch_delete',
                        data: {ids: ids},
                        success: function (data) {
                            if (data.success == true) {
                                jQuery("#list_doc2pat_ships").jqGrid('setGridParam', {url: "/treatment_relationships/index_show"}).trigger("reloadGrid");
                            } else {
                                alert('操作失败！');
                            }
                        }
                    }
            );
        }
    }
</script>