<div style="">
  <h1>系统已退出,将自动跳转到登录页面.</h1>
  如果页面长时间未跳转,请点击下面的重新登录按钮!
  <a id="buttonId" href="/sessions/sign_in"><button>重新登录</button></a>
</div>

<script>
    window.location.href='/sessions/sign_in'
</script>