<div class="row">

  <div class="col-md-4 field">
    <input type="text" name="name" class="form-control" id="menu_name"/>
  </div>

  <div class="col-md-4 field">
    <select name="hospital_id" id="menu_hospital_id" onchange="search()">
      <option></option>
      <% if !@hospitals.nil? && !@hospitals.empty? %>
          <% @hospitals.each do |hos| %>
              <option id="hospital_<%= hos.id %>" value="<%= hos.id %>"><%= hos.name %></option>
          <% end %>
      <% end %>
    </select>
  </div>

  <div class="col-md-4 field" id="menu_department">
       <%= render partial: 'menus/form_department'%>
  </div>

  </div>
<script>
    function search() {
        var hos = $("#menu_hospital_id").val();
        <%# @departments = Department.where(hospital_id:hos)%>
        $.ajax({
                    type: "get",
                    url: '/menus/get_department?hospital_id=' + hos,
                    data: 'text',
                    success: function (data) {
                        $("#menu_department").html(data);
                    }
                }
        );
    }
</script>