
<% if signed_in? %>
    <%= stylesheet_link_tag 'menus/left_menu'%>
    <script type="text/javascript">
        var zNodes=<%=raw @left_menus.to_json %>
    </script>
    <%= javascript_include_tag 'menus/left_menu'%>
    <div class="zleftMenusBackground left" style="height:100%;float:left;width:15% !important;margin-top:0px !important;overflow:hidden;" id="homeLeftMenus">
      <ul id="leftMenus" class="ztree" style="width:100%;height:100%;margin-top:0px !important;"></ul>
    </div>
    <div id="rightContent" style="float:right;width:82% !important;padding:10px;position:relative;">
      欢迎登录

    </div>
<%end%>