
<table id="list"></table>
<div id="pager"></div>
<script type="text/javascript">
    $(document).ready(function () {
        <% @all_menu = Menu.all %>
        <% @priorities = Priority.all %>
        jQuery("#list").jqGrid({
            url: '/role2s/show_index',
            datatype: "json",
            mtype: 'GET',
            colNames: ['ID', '角色名','英文代称','说明'],
            colModel: [
                { name: 'id', index: 'id', width: 40, align: "left", key: 'id' },
                { name: 'name', index: 'name', width: 100, align: "center", editable: true, editrules: {custom: true, required: true , custom_func: check_name}},
                { name: 'code', index: 'code', width: 100, align: "center", editable: true},
                { name: 'instruction', index: 'instruction', width: 100, align: "center", editable: true}
            ],
            rowList: [10, 20, 30],
            sortname: 'id',
            viewrecords: true,
            sortorder: "desc",
            autowidth: true,
            jsonReader: {
                root: "role2s",
                total: "totalpages",
                page: "currpage",
                records: "totalrecords",
                repeatitems: false
            },
            prmNames: {
                page: "page", // 表示请求页码的参数名称
                rows: "rows", // 表示请求行数的参数名称
                id: "id", // 表示当在编辑数据模块中发送数据时，使用的id的名称
             //   npage: null,
                totalrows: "totalrows", // 表示需从Server得到总共多少行数据的参数名称，参见jqGrid选项中的rowTotal
                editoper: "edit", // 当在edit模式中提交数据时，操作的名称
                addoper: "add", // 当在add模式中提交数据时，操作的名称
                deloper: "del", // 当在delete模式中提交数据时，操作的名称
                subgridid: "id" // 当点击以载入数据到子表时，传递的数据名称
            },
            editurl:'/role2s/oper_action',
            closeAfterAdd:true,
            pager: jQuery('#pager'),
            multiselect: true,
            rowNum: 20,
            altclass: 'altRowsColour',
            width: '500',
            height: 'auto',
            caption: "角色管理"
        }).navGrid('#pager', {
            cloneToTop: true,addtext: "新增", addtitle: "新增",edittext:"编辑",edittitle:"编辑",
                    deltext:"删除",deltitle:"删除", view: true, viewtext: "查看", viewtitle: "查看", search: false, refreshtext: "刷新", refreshtitle: "刷新"},
                {
                    closeAfterEdit: true
                },//edit
                {
                    closeAfterAdd:true
                }//add
                 )
    });
    //验证姓名
    function check_name() {
        console.log(arguments);
        var reg = /^[a-zA-Z\u4e00-\u9fa5]+$/;
        if (!reg.test(arguments[0])) {
            return [false, "不能为空，只能为汉字或字母！"];
        } else {
            return [true, ""];
        }
    }
</script>