<div id="group_console">
  <div id="group_div">

  </div>
</div>
<div style="width: 100%">
  <div style="margin-left: 20px;margin-right: 20px;">
    <div style="margin-bottom: 10px;">组名称：<input type="text" id="group_search" onkeydown="search_keydown(event)">&nbsp;&nbsp;<button id="search_group_btn">搜索</button>&nbsp;<button id="clear_group_btn" >清空</button>
    </div>
    <table id="group_list"></table>
    <div id="page_group"></div>
  </div>
</div>

<script type="text/javascript">
    function search_keydown(event){
        if (event.keyCode == 13)
            search_groups();
    }
    jQuery("#group_list").jqGrid({
        url: '/groups/index_show',
        datatype: "json",
        mtype: 'GET',
        colNames: [ 'ID', '名称','图片', '图片路径', '描述', '网址', '创建人ID', '创建人', '排序', '专家统计'],
        colModel: [
            { name: 'id', index: 'id', align: "left", key: 'id', hidden: true},
            { name: 'name', index: 'name', align: "center", editable: true},
            {name: 'photo_img', index: 'photo_img', align: "center",
                formatter: function (rowId, cellval, colpos, rwdat, _act) {
                    var value = colpos.photo;
                    if (value == null || value == '') {
                        return "<label>无图片</label>";
                    } else {
                        return "<img src=\'" + value + "\' style=\'width:80px;height:100px\'>";
                    }
                }
            },
            { name: 'photo', index: 'photo', align: "center", editable: true, hidden: true},
            { name: 'desc', index: 'desc', align: "center", editable: true, hidden: true, editrules: {edithidden: true}},
            { name: 'web_site', index: 'detail', align: "center", editable: true},
            { name: 'create_user_id', index: 'period', align: "center", editable: true,hidden:true},
            { name: 'create_user', index: 'create_by_user', align: "center", editable: true},
            { name: 'sort', index: 'sort', align: "center", editable: true},
            { name: 'expert_count', index: 'expert_count', align: "center", editable: true}
        ],
        rownumbers: true,
        page:1,
        rowList: [10, 15, 20],
        sortname: 'id',
        viewrecords: true,
        sortorder: "desc",
        autowidth: true,
        jsonReader: {
            root: "groups",
            total: "totalpages",
            page: "currpage",
            records: "totalrecords",
            repeatitems: false
        },
        prmNames: {
            page: "page", // 表示请求页码的参数名称
            rows: "rows", // 表示请求行数的参数名称
            id: "id", // 表示当在编辑数据模块中发送数据时，使用的id的名称
            //   npage: null,
            totalrows: "totalrows", // 表示需从Server得到总共多少行数据的参数名称，参见jqGrid选项中的rowTotal
            editoper: "edit", // 当在edit模式中提交数据时，操作的名称
            addoper: "add", // 当在add模式中提交数据时，操作的名称
            deloper: "del" // 当在delete模式中提交数据时，操作的名称
        },
        editurl: '/groups/oper_action',
        closeAfterAdd: true,
        pager: jQuery('#page_group'),
     //   multiselect: true,
        rowNum: 15,
        altclass: 'altRowsColour',
        width: '500',
        height: 'auto',
        caption: "机构管理"
    });
    jQuery("#group_list").jqGrid('navGrid', '#page_group', {
                cloneToTop: true, add:false, edit:false,
                deltext: "删除", deltitle: "删除",view: true, viewtext: "查看", viewtitle: "查看", search: false,
                refreshtext: "更新", refreshtitle: "更新"},
            {
                closeAfterEdit: true
            },//edit
            {
                closeAfterAdd: true
            }//add
             ).navButtonAdd('#page_group', { title: '编辑', caption: '编辑', buttonicon: "ui-icon-pencil", onClickButton: function () {
                group_edit();
            }, position: "first"}).navButtonAdd('#page_group', { title: '新增', caption: '新增', buttonicon: "ui-icon-plus", onClickButton: function () {
                group_new();
            }, position: "first"}).navButtonAdd('#page_group', { title: '相关医生', caption: '相关医生', buttonicon: "ui-icon-plus", onClickButton: function () {
                doctor_list();
            }, position: "last"});
   
    //搜索group
    function search_groups(){
        var group = $('#group_search').val();
        jQuery("#group_list").jqGrid('setGridParam', {url: "/groups/index_show?name=" + group}).trigger("reloadGrid");
    }
    $('#search_group_btn').click(function () {
        search_groups();
    });
    //清空k
    $('#clear_group_btn').click(function () {
        $('#group_search').val('');
    });
    $("#group_console").dialog({    //初始化对话框
        autoOpen: false,
        modal: true,    // 设置对话框为模态（modal）对话框
        resizable: true,
        width: 800,
        position: {
            my: "center",
            at: "center",
            of: window,
            collision: "fit",
            // Ensure the titlebar is always visible
            using: function (pos) {
                var topOffset = $(this).css(pos).offset().top;
                if (topOffset < 0) {
                    $(this).css("top", pos.top - topOffset);
                } else {
                    $(this).css("top", 100);
                }
            }
        },
        buttons: {  // 为对话框添加按钮
            "保存": save_group,
            "修改": update_group,
            "取消": function () {
                $("#group_console").dialog("close")
            }
        }
    });
    function group_edit() {
        var id = jQuery("#group_list").jqGrid('getGridParam', 'selrow');
        if (id) {
            $.ajax({
                url: '/groups/' + id + '/edit',
                type: 'get',
                data: {id: id},
                success: function (data) {
                    $("#group_div").html(data);
                    var video_consoleDlg = $("#group_console");
                    var dialogButtonPanel = video_consoleDlg.siblings(".ui-dialog-buttonpane");
                    dialogButtonPanel.find("button:not(:contains('取消'))").hide();
                    dialogButtonPanel.find("button:contains('修改')").show();
                    video_consoleDlg.dialog("option", "width", "800");
                    video_consoleDlg.dialog("option", "title", "编辑").dialog("open");
                }
            })
        } else {
            alert('请选择需要进行修改的图片!');
        }
    }
    function group_new() {
        $.ajax({
            url: "/groups/new",
            type: 'get',
            success: function (data) {
                $("#group_div").html(data);
                var video_consoleDlg = $("#group_console");
                var dialogButtonPanel = video_consoleDlg.siblings(".ui-dialog-buttonpane");
                dialogButtonPanel.find("button:not(:contains('取消'))").hide();
                dialogButtonPanel.find("button:contains('保存')").show();
                video_consoleDlg.dialog("option", "width", "800");
                video_consoleDlg.dialog("option", "title", "添加").dialog("open");
            }
        });
    }
    function save_group(){
        var name = $('#name').val();
        if (name && name != '') {
            $.ajax({
                url: "/groups",
                type: 'post',////:id, :name, :desc, :photo, :web_site, :expert_count, :sort
                data: { name: $('#name').val(),
                    desc: $('#content').val(),
                    photo: $('#image_path').val(),
                    web_site: $('#web_site').val(),
                    expert_count: $('#expert_count').val(),
                    sort: $('#sort').val()
                },
                async: false,
                success: function (data) {
                    $("#group_console").dialog("close");
                    jQuery("#group_list").jqGrid('setGridParam', {url: "/groups/index_show"}).trigger("reloadGrid")
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert('保存失败!');
                }
            });
        }else{
            $("#group_label").html('必填项不能为空!');
        }
    }
    function update_group() {
        var id = $('#group_id').val();
        if (id) {
            var name = $('#name').val();
            if (name && name != '') {
                $.ajax({
                    url: "/groups/" + id,
                    type: 'put',
                    data: { name: $('#name').val(),
                        desc: $('#content').val(),
                        photo: $('#image_path').val(),
                        web_site: $('#web_site').val(),
                        expert_count: $('#expert_count').val(),
                        sort: $('#sort').val()
                    },
                    async: false,
                    success: function (data) {
                        $("#group_console").dialog("close");
                        jQuery("#group_list").jqGrid('setGridParam', {url: "/groups/index_show"}).trigger("reloadGrid")
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert('修改失败!');
                    }
                });
            }else{
                $("#group_label").html('必填项不能为空!');
            }
        } else {
            alert('请选择需要进行修改的项!');
        }

    }
    function doctor_list() {
        var id = jQuery("#group_list").jqGrid('getGridParam', 'selrow');
        if (id) {
            $.ajax({
                url: '/groups/doctor_list',
                type: 'get',
                data: {group_id: id},
                success: function (data) {
                    $("#group_div").html(data);
                    var video_consoleDlg = $("#group_console");
                    var dialogButtonPanel = video_consoleDlg.siblings(".ui-dialog-buttonpane");
                    dialogButtonPanel.find("button:not(:contains('取消'))").hide();
                    dialogButtonPanel.find("button:contains('保存')").hide();
                    video_consoleDlg.dialog("option", "width", "800");
                    video_consoleDlg.dialog("option", "title", "相关医生").dialog("open");
                }
            })
        } else {
            alert('请选择查询项!');
        }
    }
</script>