<!--show_list-->
<% if !@block_contents.nil?%>
<div class="index_model_box_1_1">
  <% @block_contents.limit(3).each do |block_content|%>
      <dl class="index_img_box">
        <dt><a href=<%=Settings.block_content+"/?content_id=#{block_content.id}"%> target="_blank"><%= image_tag block_content.url%></a></dt>
        <dd><b><%=block_content.title %></b><br/>
          <%=block_content.content.gsub(/<[^>]+>/, '').gsub(/<\/?.*?>/, "")[0,45] %> ...
        </dd>
      </dl>
  <%end%>
</div>
<%else%>
    <div class="index_model_box_1_1">
      <dl class="index_img_box">
        <dt><img src="http://mimas-open.oss-cn-hangzhou.aliyuncs.com/assets/e_demo1.jpg"></dt>
        <dd><b>XXXX医院</b><br/>
          XXXX医院，是构建在国际最新肿瘤治疗技术平台基础上，以现代信息技术为手段，进行肿瘤国际会诊...
        </dd>
      </dl>

      <dl class="index_img_box">
        <dt><img src="http://mimas-open.oss-cn-hangzhou.aliyuncs.com/assets/e_demo2.jpg"></dt>
        <dd><b>XXXX医院</b><br/>
          XXXX医院，是构建在国际最新肿瘤治疗技术平台基础上，以现代信息技术为手段，进行肿瘤国际会诊...
        </dd>
      </dl>

      <dl class="index_img_box">
        <dt><img src="http://mimas-open.oss-cn-hangzhou.aliyuncs.com/assets/e_demo3.jpg"></dt>
        <dd><b>XXXX医院</b><br/>
          XXXX医院，是构建在国际最新肿瘤治疗技术平台基础上，以现代信息技术为手段，进行肿瘤国际会诊...
        </dd>
      </dl>

    </div>
    <%end%>

<style>
    .index_model_box_1_1 {
        width: 1188px;
        height: 300px;
        overflow: hidden;
        border: 1px solid #e8e8e8;
        background: #fff;
        padding: 15px;
        margin: 5px;
        float: left;
    }

    @media (min-width: 1200px) {
        .index_model_box_1_1 {
            width: 1188px;
            min-height: 300px;
            border: 1px solid #e8e8e8;
            background: #fff;
            padding: 15px;
            margin: 5px;
            float: left;
        }
    }

    @media (max-width: 960px) {
        .index_model_box_1_1 {
            width: 98%;
            height: 300px;
            overflow: hidden;
            border: 1px solid #e8e8e8;
            background: #fff;
            padding: 15px;
            margin: 5px;
            float: left;
        }
    }

    @media (max-width: 683px) {
        .index_model_box_1_1 {
            width: 100%;
            overflow: hidden;
            height: auto;
            min-height: 222px;
            border: 1px solid #e8e8e8;
            background: #fff;
            padding: 15px;
            margin: 5px;
            float: left;
        }
    }
    .index_img_box {
        width: 33.3%;
        float: left;
        padding: 5px;
        -webkit-margin-before: 0em !important;
        -webkit-margin-after: 0em !important;
        box-sizing: border-box;
    }

    .index_img_box dd {
        font-family: "Microsoft YaHei", verdana, Arial;
        color: #666;
        -webkit-margin-start: 0px !important;
    }

    .index_img_box dd b {
        font-family: "Microsoft YaHei", verdana, Arial;
        font-weight: bold;
        color: #666;
    }

    .index_img_box dt img {
        width: 100% !important;
        height: auto;
    }
</style>