<!--block_text-->
<% if !@block_contents.nil?%>
<div class="index_model_box_3_1">
  <div class="index_model_title">
    <h3 class="fl"><%=@block_contents.first.block_name%></h3>
    <span class="fr index_model_more">more</span>
  </div>
  <p class="index_modle_text">
    <%@block_contents.each do |block_content|%>
       <%= block_content.content%>
    <%end%>
  </p>
</div>
 <%else%>
    <div class="index_model_box_3_1">
      <div class="index_model_title">
        <h3 class="fl">区块名称</h3>
        <span class="fr index_model_more">more</span>
      </div>
      <p class="index_modle_text">
        内容编辑区
      </p>
    </div>
<%end%>
<style>
    .index_model_box_3_1 {
        width: 388px;
        height: 222px;
        overflow: hidden;
        border: 1px solid #e8e8e8;
        background: #fff;
        padding: 15px;
        margin: 5px;
        float: left;
    }

    /*屏幕尺寸大于1200px */
    @media (min-width: 1200px) {

        .index_model_box_3_1 {
            width: 388px;
            min-height: 222px;
            border: 1px solid #e8e8e8;
            background: #fff;
            padding: 15px;
            margin: 5px;
            float: left;
        }
    }

    /*屏幕尺寸小于960px*/
    @media (max-width: 960px) {

        .index_model_box_3_1 {
            width: 33%;
            height: 222px;
            overflow: hidden;
            border: 1px solid #e8e8e8;
            background: #fff;
            padding: 15px;
            margin: 5px;
            float: left;
        }
    }

    /*屏幕尺寸小于480px*/
    @media (max-width: 683px) {
        .index_model_box_3_1 {
            width: 100%;
            overflow: hidden;
            height: 222px;
            border: 1px solid #e8e8e8;
            background: #fff;
            padding: 15px;
            margin: 5px;
            float: left;
        }
    }
    /*文章列表*/
    .index_model_article li {
        line-height: 30px;
        font-size: 13px;
    }

    .index_model_article li a {
        font-size: 13px;
    }

    /*模块标题*/
    .index_model_title {
        height: 30px;
        line-height: 30px;
        border-bottom: 1px dotted #e4e9f0;
    }

    .index_model_title h3 {
        height: 30px;
        line-height: 30px;
        font-family: "Microsoft YaHei", Arial;
        font-size: 20px;
        font-weight: bold;
        margin: 0;
        padding: 0;
        display: inline-block;
        border-bottom: 2px solid #1fa0d8;
    }

    .index_model_more {
        color: #666;
    }

    /*文本样式*/
    .index_modle_text {
        /* text-indent: 2em; */
        line-height: 24px;
        color: #666 !important;
        margin-top: 10px;
        word-break: break-all;
        font-size: 13px;
        font-family: "Microsoft YaHei", Arial;
    }

    ul li {
        list-style: none;
    }

    ul, li, div {
        margin: 0;
        padding: 0;
    }

    .fr {
        float: right;
    }

    .fl {
        float: left;
    }
</style>