<!--block_text 简介模板-->

<% if !@block_contents.nil? && !@block_contents.empty?  %>
    <div class="j1">
      <div class="jcon">
        <div class="index_model_title">
          <h3 class="fl"><%= @page_block.name if !@page_block.nil?  %></h3>
          <span class="fr index_model_more"><a href=<%=Settings.block_content+"/?content_id=#{@block_contents.last.id}"%> target="_blank">more</a></span>
        </div>
        <p class="index_modle_text">
          <% @content = @block_contents.last.content.nil? ? '' : @block_contents.last.content.gsub(/<[^>]+>/, '').gsub(/\t|\r|\n|&nbsp;/, '')
             if @content.length > 180
               @content = @content[0, 180] << '...'
             else
               @content = @content
             end
          %>
          <%= @content %>
        </p>
      </div>
    </div>
<%else%>
    <div class="j1">
      <div class="jcon">
        <div class="index_model_title">
          <!--<h3 class="fl">区块名称</h3>-->
          <h3 class="fl"><%=@block_name %></h3>
          <span class="fr index_model_more"><a href="" style="color:#666;">more</a></span>
        </div>
        <p class="index_modle_text">
          xxxx医院，xxxx年xx月正式开院，是一所向社会开放的综合性医院。医院设有急诊科、神经科、内科、普外科、血液净化中心、骨科、手外科、泌尿外科、以执着的医志、高尚的医德书写了辉煌的历史
        </p>
      </div>
    </div>
<%end%>

<style>
    /*简介模板*/
    .j1 {
        width:33.33%;
        height:288px;
        overflow:hidden;
        float:left;
        padding:0.5% 0.3%;

    }
    .jcon{
        width:100%;
        height:282px;
        overflow:hidden;
        box-sizing:border-box;
        -moz-box-sizing:border-box; /* Firefox */
        -webkit-box-sizing:border-box; /* Safari */
        display:inline-block;
        border: 1px solid #e8e8e8;
        background:#fff;
        word-break:break-all;
        padding:15px;
    }


    /*模块标题*/
    .j1 .index_model_title {
        height: 30px;
        line-height: 30px;
        border-bottom: 1px dotted #e4e9f0;
    }

    .j1 .index_model_title h3 {
        height: 30px;
        line-height: 30px;
        font-family: "Microsoft YaHei", Arial;
        font-size: 20px;
        font-weight: bold;
        margin: 0;
        padding: 0;
        display: inline-block;
        border-bottom: 2px solid #1fa0d8;
    }

    .j1 .index_model_more,.index_model_more a ,.j1 .index_model_more a:link, .j1 .index_model_more a:visited{
        color: #888 !important;
    }
    .j1 .index_model_more a:hover,.j1 .index_model_more a:active{color:#000 !important;}

    /*文本样式*/
    .j1 .index_modle_text {
        /* text-indent: 2em; */
        line-height: 24px;
        color: #666 !important;
        margin-top: 10px;
        word-break: break-all;
        font-size: 13px;
        font-family: "Microsoft YaHei", Arial;
    }
    .j1 .index_model_more a{
        font-size:13px;
    }
    ul li {
        list-style: none;
    }

    ul, li, div {
        margin: 0;
        padding: 0;
    }

    .fr {
        float: right;
    }

    .fl {
        float: left;
    }

</style>
