<!--绿色医疗的登录框 比login.html.erb高,而且样式不一样-->



<div class="l2">
  <div class="l2con">
    <%=image_tag "http://mimas-img.oss-cn-beijing.aliyuncs.com/lsyl_login.jpg" ,:class=>"login_img"%>
    <!--<p class="g_t">用户登录</p>-->

    <form accept-charset="UTF-8" id="sess_form" method="post">
      <table style="width:70%;margin:5px auto 0 auto">
        <tr>
          <td>
        <span class="login_username">
        <input type="text" class="login_username_input" id="us" name="session[username]" placeholder="用户名/邮箱/手机号"/>
        </span>
        </tr>
        <tr>
          <td>
        <span class="login_username">
        <input class="login_password_input" id="pa" name="session[password]" placeholder="密码" type="password"/>
        </span>
          </td>
        </tr>
        <tr>
          <td>
            <a style="float:left;font-size:12px;color:#666;font-family: 'Microsoft YaHei',Verdana;" href="/sessions/activated_user">帐号激活</a>
            <a style="float:right;font-size:12px;color:#666;font-family: 'Microsoft YaHei',Verdana;" href="/sessions/find_pwd_type">忘记密码？</a>
          </td>
        </tr>
        <tr>
          <td>
            <input type="button" id="center_login" class="login_btn" value="登录">
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>

<style>
    .l2 {
        width:32.33%;
        min-width:300px;
        height:288px;
        overflow:hidden;
        float:left;
        padding:0.5%;

    }
    .l2con{
        width:100%;
        height:288px;
        overflow:hidden;
        box-sizing:border-box;
        -moz-box-sizing:border-box; /* Firefox */
        -webkit-box-sizing:border-box; /* Safari */
        display:inline-block;
        min-height: 120px;
        line-height: 16px;
        border:1px solid #e8e8e8;
        background: #fff;
        position: relative;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        word-break:break-all;
    }


    ul li {
        list-style: none;
    }

    ul, li, div {
        margin: 0;
        padding: 0;
    }

    .fr {
        float: right;
    }

    .fl {
        float: left;
    }

    .l2 .g_t {
        font-size: 18px;
        margin:0 auto;
        font-weight: bold;
        color: #1c8a42;
        font-family: "Microsoft YaHei", Arial;
        width:70%;

    }
    .l2 .login_img{
        height:120px;
    }


    .l2 .login_username {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 3px;
        display: inline-block;
        background: #fff;
        height: 34px;
        margin: 3px 0px;

    }

    .l2 .login_username_input {
        width: 98%;
        margin: 0 auto;
        background: url('http://dev-mimas.oss-cn-beijing.aliyuncs.com/2507ac6f-c92f-4bc4-8854-7a07a269a9b0.png') no-repeat left center;
        border: 0px;
        height: 32px;
        padding-left: 33px;
        outline: 0px;
        line-height: 30px;
        font-family: 'Microsoft YaHei', Verdana;
    }

    .l2 .login_password_input {
        width: 98%;
        margin: 0 auto;
        background: url('http://dev-mimas.oss-cn-beijing.aliyuncs.com/b5afd35c-b951-4d92-ad16-e83d4a9d1994.png') no-repeat left center;
        border: 0px;
        padding-left: 33px;
        height: 32px;
        outline: 0px;
        line-height: 30px;
        font-family: 'Microsoft YaHei', Verdana;
    }

    .l2 .login_btn {
        margin-top: 5px;
        height: 32px;
        width: 100%;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 15px;
        color: #ffffff;
        border-radius: 2px !important;
        border-top: 1px solid #ffb660;
        border-bottom: 1px solid #da7c0c;
        text-shadow: 0px 0px 1px #da7c0c;
        border-left: 1px solid #da7c0c;
        border-right: 1px solid #da7c0c;
        filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#faa51a, endColorStr=#f47a20);
        background: -ms-linear-gradient(top, #faa51a, #f47a20);
        background: -moz-linear-gradient(top, #faa51a, #f47a20);
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#faa51a), to(#f47a20));
        background: -webkit-linear-gradient(top, #faa51a, #f47a20);
        background: -o-linear-gradient(top, #faa51a, #f47a20);
        font-family: 'Microsoft YaHei', Verdana;
    }

</style>
