<% if !@block_contents.nil? %>
    <div class="index_model_box_3_1">
      <div class="index_model_title">
        <!--<h3 class="fl">区块名称</h3>-->
        <h3 class="fl"><%= @page_block.name if !@page_block.nil? %></h3>
        <span class="fr index_model_more"><a href="<%= @block_contents.url+"/?content_id=#{@block_contents.last.id}" %>">more</a></span>
      </div>
      <div style="clear:both;"></div>
      <div class="environment_img">
        <img alt="医院环境" src="<%= @block_contents.last.url %>" title="医院环境" height="100px">
      </div>
      <p class="in_index_modle_text">
        <%= @block_contents.last.content.gsub(/<\/?.*?>/, "")[0, 150] %>
      </p>
    </div>
<% else %>
    <div class="index_model_box_3_1">
      <div class="index_model_title">
        <!--<h3 class="fl">区块名称</h3>-->
        <h3 class="fl">图文模版</h3>
        <span class="fr index_model_more"><a href="">more</a></span>
      </div>
      <div style="clear:both;"></div>
      <div class="environment_img">
        <img alt="医院环境" src="http://mimas-open.oss-cn-hangzhou.aliyuncs.com/assets/e_demo1.jpg" title="医院环境" height="100px">
      </div>
      <p class="in_index_modle_text">
        xxxx医院，xxxx年xx月正式开院，是一所向社会开放的综合性医院。医院设有急诊科、神经科、内科、普外科、血液净化中心、骨科、手外科、泌尿外科、以执着的医志、高尚的医德书写了辉煌的历史
      </p>
    </div>
<% end %>


<style>
    .index_model_box_3_1 {
        width: 388px;
        height: 222px;

        overflow: hidden;
        border: 1px solid #e8e8e8;
        background: #fff;
        padding: 15px;
        margin: 5px;
        float: left;
    }

    /*屏幕尺寸大于1200px */
    @media (min-width: 1200px) {

        .index_model_box_3_1 {
            width: 388px;
            height: 222px;

            border: 1px solid #e8e8e8;
            background: #fff;
            padding: 15px;
            margin: 5px;
            float: left;
        }
    }

    /*屏幕尺寸小于960px*/
    @media (max-width: 960px) {

        .index_model_box_3_1 {
            width: 33%;
            height: 222px;

            overflow: hidden;
            border: 1px solid #e8e8e8;
            background: #fff;
            padding: 15px;
            margin: 5px;
            float: left;
        }
    }

    /*屏幕尺寸小于480px*/
    @media (max-width: 683px) {
        .index_model_box_3_1 {
            width: 100%;
            overflow: hidden;
            min-height: 222px;
            height: auto;
            border: 1px solid #e8e8e8;
            background: #fff;
            padding: 15px;
            margin: 5px;
            float: left;
        }
    }

    .index_model_title h3 {
        height: 30px;
        line-height: 30px;
        font-family: "Microsoft YaHei", Arial;
        font-size: 20px;
        font-weight: bold;
        margin: 0 0 10px 0;
        padding: 0;
        display: inline-block;
        border-bottom: 2px solid #1fa0d8;
    }

    .index_model_title {
        height: 30px;
        line-height: 30px;
        border-bottom: 1px dotted #e4e9f0;
    }

    .index_model_more {
        color: #666;
    }

    .fl {
        float: left;
    }

    .fr {
        float: right;
    }

   /* .environment_img img {
        width: 100%;
        height: auto;

    }
*/
    /*.environment_img {*/
        /*width: 100%;*/
        /*height: 100px;*/
        /*overflow: hidden;*/
    /*}*/

    .in_index_modle_text {
        line-height: normal;
        color: #666 !important;
        margin-top: 5px;
        word-break: break-all;
        font-size: 12px;
        font-family: "Microsoft YaHei", Arial;
    }
</style>