
<div id="bg">
  <%=image_tag "http://mimas-img.oss-cn-beijing.aliyuncs.com/huanying.jpg",:class=> "huanying_img"%>
  <%#=image_tag("bg2.jpg", alt:"default", style:"position:absolute;left:50%;top:50%;margin-left:-500px;margin-top:-300px;") %>
</div>
