
<div id="bg">
  <%=image_tag("bg2.jpg", alt:"default", style:"position:absolute;left:50%;top:50%;margin-left:-500px;margin-top:-300px;") %>
</div>
<%# @menus.each do |menu|%>
         <%#menu[:children].each do |m|%>
        <%#= m[:name]%>
    <%#end%>
<%#end%>