<div style="width: 100%">
  <div style="margin-left: 20px;margin-right: 20px;">
    <div style="margin-bottom: 10px;">医嘱名：<input type="text" id="advice_title" onkeydown="search_keydown(event)">&nbsp;&nbsp;<button id="search_advice_btn">搜索</button>&nbsp;<button id="clear_advice_btn" >清空</button>
    </div>
    <table id="advice_list"></table>
    <div id="page_advice"></div>
  </div>
</div>

<script type="text/javascript">
    jQuery("#advice_list").jqGrid({
        url: '/medical_advices/index_show',
        datatype: "json",
        mtype: 'GET',
        colNames: [ 'ID', '医嘱名', '创建人', '创建时间', '类型'],
        colModel: [
            { name: 'id', index: 'id', align: "left", key: 'id', hidden: true},
            { name: 'title', index: 'title', align: "center", editable: true},
            { name: 'created_by_name', index: 'created_by_name', align: "center", editable: false},
            { name: 'created_at', index: 'created_at', align: "center", editable: false, formatter: 'date', formatoptions: { newformat: 'Y-m-d' }},
            { name: 'advice_type', index: 'advice_type', align: "center", editable: true}
        ],
        rownumbers: true,
        page:1,
        rowList: [10, 15, 20],
        sortname: 'id',
        viewrecords: true,
        sortorder: "desc",
        autowidth: true,
        jsonReader: {
            root: "medical_advices",
            total: "totalpages",
            page: "currpage",
            records: "totalrecords",
            repeatitems: false
        },
        prmNames: {
            page: "page", // 表示请求页码的参数名称
            rows: "rows", // 表示请求行数的参数名称
            id: "id", // 表示当在编辑数据模块中发送数据时，使用的id的名称
            //   npage: null,
            totalrows: "totalrows", // 表示需从Server得到总共多少行数据的参数名称，参见jqGrid选项中的rowTotal
            editoper: "edit", // 当在edit模式中提交数据时，操作的名称
            addoper: "add", // 当在add模式中提交数据时，操作的名称
            deloper: "del" // 当在delete模式中提交数据时，操作的名称
        },
        editurl: '/medical_advices/oper_action',
        closeAfterAdd: true,
        pager: jQuery('#page_advice'),
        multiselect: true,
        rowNum: 15,
        altclass: 'altRowsColour',
        width: '500',
        height: 'auto',
        caption: "医嘱管理"
    });
    jQuery("#advice_list").jqGrid('navGrid', '#page_advice', {
                cloneToTop: true, addtext: "新增", addtitle: "新增", edittext: "编辑", edittitle: "编辑",
                deltext: "删除", deltitle: "删除",view: true, viewtext: "查看", viewtitle: "查看", search: false,
                refreshtext: "更新", refreshtitle: "更新"},
            {
                closeAfterEdit: true
            },//edit
            {
                closeAfterAdd: true
            }//add
             ).navButtonAdd('#page_advice', { title: '批量删除', caption: '批量删除', onClickButton: function () {
                batch_delete()
            }, position: "last"});
    //批量删除
    function batch_delete() {
        var ids = $('#advice_list').jqGrid('getGridParam', 'selarrrow');
        if (ids.length == 0) {
            alert('请选择删除项！');
        } else {
            $.ajax({
                        type: 'post',
                        url: '/medical_advices/batch_delete',
                        data: {ids: ids},
                        success: function (data) {
                            if (data.success == true) {
                                jQuery("#advice_list").jqGrid('setGridParam', {url: "/medical_advices/index_show"}).trigger("reloadGrid");
                            } else {
                                alert('操作失败！');
                            }
                        }
                    }
            );
        }
    }
    function search_advice(){
        var version_num = $('#advice_title').val();
        jQuery("#advice_list").jqGrid('setGridParam', {url: "/medical_advices/index_show?version_num=" + version_num }).trigger("reloadGrid");
    }
    //搜索advice
    $('#search_advice_btn').click(function () {
        search_advice();
    });
    function search_keydown(event) {
        if (event.keyCode == 13)
            search_advice();
    }
    //清空k
    $('#clear_advice_btn').click(function () {
        $('#advice_title').val('');
    });
</script>