<p>
  <style>.btn a {
      color: #ffffff;
  }</style>
  <!--<span class="pull-right btn btn-primary" style="margin-top:4px;margin-right:15px;"><%#= link_to '返回', notes_path %></span>-->
  <strong class="ui-jqdialog-title" >添加区块</strong></p>
<div class="EditTable">
  <%= render 'form' %>
</div>

