<div style="width: 100%"><div style="margin-left: 20px;">
  <table id="list_page_block"></table>
  <div id="page_block"></div></div> </div>

<script type="text/javascript">
    //页面模块
    jQuery("#list_page_block").jqGrid({
        url: '/page_blocks/index_show',
        datatype: "json",
        autowidth: true,
        height: 'auto',
        colNames: ['ID', '标题', '内容', '界面ID'],
        colModel: [
            {name: 'id', index: 'id', align: "center", hidden: true},
            {name: 'name', index: 'name', align: "center"},
            {name: 'content', index: 'content', align: "center" },
            {name: 'page_id', index: 'page_id', align: "center"}
        ],
        rownumbers: true,
        page: 1,
        rowNum: 10,
        rowList: [10, 15, 20],
        pager: '#page_block',
        sortname: 'id',
        viewrecords: true,
        sortorder: "desc",
        multiselect: false,
        caption: "界面区块管理",
        editurl: '/page_blocks/oper_action',
        jsonReader: {
            root: "page_blocks",
            total: "totalpages",
            page: "currpage",
            records: "totalrecords",
            repeatitems: false
        },
        prmNames: {
            page: "page", // 表示请求页码的参数名称
            rows: "rows", // 表示请求行数的参数名称
            id: "id", // 表示当在编辑数据模块中发送数据时，使用的id的名称
            //   npage: null,
            totalrows: "totalrows", // 表示需从Server得到总共多少行数据的参数名称，参见jqGrid选项中的rowTotal
            editoper: "edit", // 当在edit模式中提交数据时，操作的名称
            addoper: "add", // 当在add模式中提交数据时，操作的名称
            deloper: "del" // 当在delete模式中提交数据时，操作的名称
        }
    }).navGrid('#page_block', {
                cloneToTop: true, add: false, edit: false,
                deltext: "删除", deltitle: "删除", view: true, viewtext: "查看", viewtitle: "查看", search: false, refreshtext: "刷新", refreshtitle: "刷新"}
    ).navButtonAdd('#page_block', { title: '编辑', buttonicon: "ui-icon-pencil", caption: '编辑', onClickButton: function () {
                edit_page_block()
            }, position: "first"}).navButtonAdd('#page_block', { title: '添加', caption: '添加', buttonicon: "ui-icon-plus", onClickButton: function () {
                new_page_block()
            }, position: "first"});
    function new_page_block() {
        var href = "/page_blocks/page_block_manage"
        window.location.replace(href);
    }
    function edit_page_block() {
        var id = jQuery("#list_page_block").jqGrid('getGridParam', 'selrow');
        if (!id) {
            alert('请选择编辑项！');
        }
        {
            var href = '/page_blocks/' + id + '/edit';
            window.location.replace(href);
        }
    }
</script>