<div style="width: 100%"><div style="margin-left: 20px;">
  <table id="list_page_block"></table>
  <div id="page_block"></div></div> </div>

<script type="text/javascript">
//页面模块
    jQuery("#list_page_block").jqGrid({
        url: 'consult_accuses/index_results',
        datatype: "json",
        autowidth: true,
        height: 'auto',
        colNames: ['ID', '标题', '内容', '界面ID'],
        colModel: [
            {name: 'id', index: 'id', align: "center", hidden: true},
            {name: 'name', index: 'name', align: "center"},
            {name: 'content', index: 'content', align: "center"},
            {name: 'page_id', index: 'page_id', align: "center"}
        ],
        rownumbers: true,
        page: 1,
        rowNum: 20,
        rowList: [10, 20, 30],
        pager: '#page_block',
        sortname: 'id',
        viewrecords: true,
        sortorder: "desc",
        multiselect: false,
        subGrid: true,
        caption: "界面区块管理",
        editurl: 'page_blocks/oper_action',
        jsonReader: {
            root: "page_blocks",
            total: "totalpages",
            page: "currpage",
            records: "totalrecords",
            repeatitems: false
        },
        prmNames: {
            page: "page", // 表示请求页码的参数名称
            rows: "rows", // 表示请求行数的参数名称
            id: "id", // 表示当在编辑数据模块中发送数据时，使用的id的名称
            //   npage: null,
            totalrows: "totalrows", // 表示需从Server得到总共多少行数据的参数名称，参见jqGrid选项中的rowTotal
            editoper: "edit", // 当在edit模式中提交数据时，操作的名称
            addoper: "add", // 当在add模式中提交数据时，操作的名称
            deloper: "del" // 当在delete模式中提交数据时，操作的名称
        }
    }).navGrid('#page_block', {
                cloneToTop: true, add: false, edit: false,
                del: false, view: false, search: false, refreshtext: "刷新", refreshtitle: "刷新"}
    ).navButtonAdd('#page_block', { title: '删除', buttonicon: "ui-icon-trash", caption: '删除', onClickButton: function () {
            }, position: "first"}).navButtonAdd('#page_block', { title: '查看', buttonicon: "ui-icon-document", caption: '查看', onClickButton: function () {
            }, position: "first"}).navButtonAdd('#page_block', { title: '编辑', buttonicon: "ui-icon-pencil", caption: '编辑', onClickButton: function () {
            }, position: "first"}).navButtonAdd('#page_block', { title: '添加', caption: '添加', buttonicon: "ui-icon-plus", onClickButton: function () {
            }, position: "first"});
</script>