    <div class="field pull-left font-yahei" style="margin-bottom:15px;margin-top:15px;margin-right:15px;">
      <label class="CaptionTD">'标题'</label>
      <lable class = 'FormElement ui-widget-content ui-corner-all' ><%= @page_block.name%></lable>
    </div>
    <div class="clear"></div>
    <div class="field" style="margin-bottom:15px;">
      <label class="CaptionTD">'内容'</label>
      <lable class='FormElement ui-widget-content ui-corner-all'><%= @page_block.content.html_safe %></lable>
    </div>
    <div class="clear"></div>



