<style>
    .page_block_module{float:left;}
    #page_block_list{width: 1200px}
    .m_title{ display: none;background:#e8f5fe;width:150px}
</style>
<div id="loader"></div>
<button id="layoutting">排版</button>
<button id="layout_save">保存</button>
<button id="layout_cancle">取消</button>
<div id="page_block_list">
<% if !@page_block.nil? && !@page_block.empty? %>
  <% @page_block.each do |page|%>
      <div id="<%= page.id%>" class="page_block_module">
        <div class="m_title">拖拽排版<%= page.id%></div>
        <%= raw page.content%>
      </div>
  <%end%>
<% end %>

</div>

<script>


    $(function(){
        var home_page_id=<%= @home_page_id%>
        var page_block_ids=[]; //存储页面排版的顺序
        $("#layoutting").click(function(){
            $(".m_title").show();
        });
        $("#block_page").click(function(){
              $(".m_title").hide();
                }
        );
        $("#layout_cancle").click(function(){
            $.ajax({
                type:'get',
                url:'/home_pages',
                success:function(data){
                    $("#rightContent").html(data)
                }
            })
        });
        $("#layout_save").click(function(){
            $.ajax({
                type:'post',
                url:'/page_blocks/update',
                data:{id:home_page_id,pageBlogIds:page_block_ids},
                success:function(data){
                    alert("保存成功")
                }
            })
        })

//        排版
        $(".m_title").bind('mouseover',function(){
            $(this).css("cursor","move")
        });'""'

        var $show = $("#loader");
        var $orderlist = $("#orderlist");
        var $list = $("#page_block_list");
        $list.sortable({
            opacity: 0.6, //设置拖动时候的透明度
            revert: true, //缓冲效果
            cursor: 'move', //拖动的时候鼠标样式
            handle: '.m_title',  //可以拖动的部位，模块的标题部分
            update: function(event, ui){
                page_block_ids=$(this).sortable('toArray').toString()
            }
        });
    });


</script>
