    <div class="field pull-left font-yahei" style="margin-bottom:15px;margin-top:15px;margin-right:15px;">
      <label class="CaptionTD">'标题'</label>
      <lable class = 'FormElement ui-widget-content ui-corner-all' ><%= @home_page.name%></lable>
    </div>
    <div class="clear"></div>
    <div class="field" style="margin-bottom:15px;">
      <label class="CaptionTD">'内容'</label>
      <lable class='FormElement ui-widget-content ui-corner-all'><%= @home_page.content %></lable>
    </div>
    <div class="clear"></div>
    <div class="field font-yahei" style="margin-bottom:15px;">
      <label class="CaptionTD">'所属医院'</label>
      <lable class='FormElement ui-widget-content ui-corner-all'><%= @home_page.hospital.name if !@home_page.nil? && !@home_page.hospital.nil? %></lable>
    </div>
    <div class="clear"></div>
    <div class="field font-yahei" style="margin-bottom:15px;">
      <label class="CaptionTD">'所属科室'</label>
      <lable class='FormElement ui-widget-content ui-corner-all'><%= @home_page.department.name if !@home_page.nil? && !@home_page.department.nil? %></lable>
    </div>





