<div style="width: 100%">
    <div  class="yahei">
      <span class="marginb">
        类型名称：<input type="text" id="type_name"  class="input_b" onkeydown="search_keydown(event,'type')">
      </span>
      <span class="marginb">
        <button id="search_type_btn" class="btn btn-success btn-sm">搜索</button>&nbsp;<button id="clear_type_btn" class="btn btn-default btn-sm">清空</button>
      </span>
    </div>
  <div class="jqgride_div">
    <table id="knowledge_type_list"></table>
    <div id="knowledge_type_pager"></div>
  </div>
    <div style="margin-top:40px;" class="yahei">
      <span class="marginb">
      标题：<input type="text" id="knowledge_title" class="input_b" onkeydown="search_keydown(event,'title')">
      </span>
      <span class="marginb">
        &nbsp;<button id="search_knowledge_btn" class="btn btn-success btn-sm">搜索</button>&nbsp;<button id="clear_knowledge_btn" class="btn btn-default btn-sm">清空</button>
      </span>
   </div>
  <div class="jqgride_div">
    <table id="knowledge_list"></table>
    <div id="knowledge_pager"></div>
  </div>
</div>

<script type="text/javascript">
    function search_keydown(event, str) {
        if (event.keyCode == 13) {
            if (str == 'type') {
                search_types();
            }
            if (str == 'title') {
                search_knowledges();
            }
        }
    }
    $(document).ready(function () {
        jQuery("#knowledge_type_list").jqGrid({
            url: '/pregnancy_knowledges/index_show?str=knowledge_type',
            datatype: "json",
            mtype: 'GET',
            colNames: ['ID', '类型名称', '内容描述'],
            colModel: [
                { name: 'id', index: 'id', width: 40, align: "left", key: 'id', hidden:true},
                { name: 'title', index: 'title', width: 100, align: "center", editable: true},
                { name: 'content', index: 'content', width: 100, align: "center", editable: true, edittype: 'textarea', editoptions: {rows: 5, style: "width:300px"}}
            ],
            rowList: [10, 15, 20],
            sortname: 'id',
            viewrecords: true,
            sortorder: "desc",
            autowidth: true,
            rownumbers: true,
            page: 1,
            jsonReader: {
                root: "pregnancy_knowledges",
                total: "totalpages",
                page: "currpage",
                records: "totalrecords",
                repeatitems: false
            },
            prmNames: {
                page: "page", // 表示请求页码的参数名称
                rows: "rows", // 表示请求行数的参数名称
                id: "id", // 表示当在编辑数据模块中发送数据时，使用的id的名称
             //   npage: null,
                totalrows: "totalrows", // 表示需从Server得到总共多少行数据的参数名称，参见jqGrid选项中的rowTotal
                editoper: "edit", // 当在edit模式中提交数据时，操作的名称
                addoper: "add", // 当在add模式中提交数据时，操作的名称
                deloper: "del", // 当在delete模式中提交数据时，操作的名称
                subgridid: "id" // 当点击以载入数据到子表时，传递的数据名称
            },
            gridComplete: function () {
                jQuery("#knowledge_list").jqGrid('setGridParam', {url: "/pregnancy_knowledges/index_show?str=knowledge"}).trigger("reloadGrid");
            },
            editurl:'/pregnancy_knowledges/oper_action',
            closeAfterAdd:true,
            pager: jQuery('#knowledge_type_pager'),
          //  multiselect: true,
            rowNum: 10,
            altclass: 'altRowsColour',
            width: '500',
            height: 'auto',
            caption: "孕育知识类型管理",
            onSelectRow: function (rowid) {
                jQuery("#knowledge_list").jqGrid('setGridParam', {url: "/pregnancy_knowledges/index_show?str=knowledge&parent_id=" + rowid }).trigger("reloadGrid");
                var grid = $("#knowledge_list");
                grid.setColProp("parent_id", { editoptions: { defaultValue: rowid} });
                var title = $('#knowledge_type_list').jqGrid('getRowData', rowid).title;
                grid.setColProp("parent_title", { editoptions: { defaultValue: title} });
            }
        }).navGrid('#knowledge_type_pager', {
            cloneToTop: true,addtext: "新增", addtitle: "新增",edittext:"编辑",edittitle:"编辑",
                    deltext:"删除",deltitle:"删除", view: true, viewtext: "查看", viewtitle: "查看", search: false, refreshtext: "刷新", refreshtitle: "刷新"},
                {
                    closeAfterEdit: true
                },//edit
                {
                    closeAfterAdd:true
                }//add
                 )
    });
    $(document).ready(function () {
        jQuery("#knowledge_list").jqGrid({
            url: '/pregnancy_knowledges/index_show?str=knowledge',
            datatype: "json",
            mtype: 'GET',
            colNames: ['ID', '标题', '内容','父节点ID', '父节点'],
            colModel: [
                { name: 'id', index: 'id', align: "left", key: 'id', hidden: true},
                { name: 'title', index: 'title', align: "center", editable: true},
                { name: 'content', index: 'content', align: "center", editable: true, edittype: 'textarea', editoptions: {rows: 5, style: "width:300px"}},
                { name: 'parent_id', index: 'parent_id', align: "center", editable: true, hidden: true, editrules: {edithidden: false}
//                    , formatter: function (rowId, cellval, colpos, rwdat, _act) {
//                    var rowData = $('#knowledge_type_list').jqGrid('getRowData', rowId);
//                    return rowData.title
//                    }
                },
                {name: 'parent_title', index: 'parent_title', align: "center", editable: true, hidden: true, jsonmap: 'parent.title', editrules: {edithidden: true}, editoptions: { readonly: 'readonly'}}
            ],
            rowList: [10, 15, 20],
            sortname: 'id',
            viewrecords: true,
            sortorder: "desc",
            autowidth: true,
            rownumbers: true,
            page: 1,
            jsonReader: {
                root: "pregnancy_knowledges",
                total: "totalpages",
                page: "currpage",
                records: "totalrecords",
                repeatitems: false
            },
            prmNames: {
                page: "page", // 表示请求页码的参数名称
                rows: "rows", // 表示请求行数的参数名称
                id: "id", // 表示当在编辑数据模块中发送数据时，使用的id的名称
                //   npage: null,
                totalrows: "totalrows", // 表示需从Server得到总共多少行数据的参数名称，参见jqGrid选项中的rowTotal
                editoper: "edit", // 当在edit模式中提交数据时，操作的名称
                addoper: "add", // 当在add模式中提交数据时，操作的名称
                deloper: "del", // 当在delete模式中提交数据时，操作的名称
                subgridid: "id" // 当点击以载入数据到子表时，传递的数据名称
            },
            editurl: '/pregnancy_knowledges/oper_action',
            closeAfterAdd: true,
            pager: jQuery('#knowledge_pager'),
            //  multiselect: true,
            rowNum: 15,
            altclass: 'altRowsColour',
            width: '500',
            height: 'auto',
            caption: "孕育知识管理"
        }).navGrid('#knowledge_pager', {
                    cloneToTop: true, addtext: "新增", addtitle: "新增", edittext: "编辑", edittitle: "编辑",
                    deltext: "删除", deltitle: "删除", view: true, viewtext: "查看", viewtitle: "查看", search: false, refreshtext: "刷新", refreshtitle: "刷新"},
                {
                    closeAfterEdit: true
                },//edit
                {
                    closeAfterAdd: true
                }//add
        )
    });
//搜索类型
    function search_types(){
        var type = $('#type_name').val();
        jQuery("#knowledge_type_list").jqGrid('setGridParam', {url: "/pregnancy_knowledges/index_show?str=knowledge_type&title=" + type }).trigger("reloadGrid");
    }
$('#search_type_btn').click(function () {
    search_types();
});
//清空类型条件
$('#clear_type_btn').click(function () {
    $('#type_name').val('');
});
//搜索标题
    function search_knowledges(){
        var title = $('#knowledge_title').val();
        jQuery("#knowledge_list").jqGrid('setGridParam', {url: "/pregnancy_knowledges/index_show?str=knowledge&title=" + title }).trigger("reloadGrid")
    }
$('#search_knowledge_btn').click(function () {
    search_knowledges();
});
//清空标题条件
$('#clear_knowledge_btn').click(function () {
    $('#knowledge_title').val('');
});
</script>