<% if @js[:pd]=='old_false' %>
$('#reminder').html("<div class='modal fade' id='myModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true' data-backdrop='false'><div class='modal-dialog'><div class='alert alert-warning'><p>原密码错误</p></div></div></div><script>$('#myModal').modal('show');setTimeout(function(){$('#myModal').modal('hide');},1500);</script>");
<% elsif @js[:pd]=='new_false' %>
$('#reminder').html("<div class='modal fade' id='myModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true' data-backdrop='false'><div class='modal-dialog'><div class='alert alert-warning'><p>两次密码不一致，或者位数小于6位</p></div></div></div><script>$('#myModal').modal('show');setTimeout(function(){$('#myModal').modal('hide');},1500);</script>");
<% elsif @js[:pd]=="true" %>
$('#reminder').html("<script>$(document).ready(function(){ location.href='/'});</script>");
<% end %>