　<b>为所选择的患者分配医院和科室</b>

<div style="margin-top:20px;margin-bottom: 10px;">
  选择医院:
  <span id="pat_hospital"><%= render partial: 'patients/hospital_partial' %></span>
</div>
<div>
  选择科室:
  <span id="pat_department"><%= render partial: 'patients/department_partial' %></span>
</div>