<select id="patient_dep" onchange="pat_search_dep()" ><option value="">---请选择---</option>
<% if !@departments.nil? %>
    <% if !@departments.empty? %>
        <% @departments.each do |dep| %>
            <option id="search_dep_<%= dep.id %>" value="<%= dep.id %>"><%= dep.name %></option>
        <% end %>
    <% end %>
<% end %>
</select>
<script>
    $(function() {
        $("#patient_dep").select2()
    })
</script>