<div style="width: 100%">
  <div style="hight: 48%;margin-left: 20px;margin-right: 20px;">
    <div style="margin-bottom: 10px;">省：<select id="province_search_id" style="width: 139px;">
      <option value="0">---全部---</option>
      <% @provinces.each do |pro|%>
      <option value="<%= pro.id %>"><%= pro.name %></option>
      <%end if !@provinces.empty?%>
    </select>&nbsp;&nbsp;市：<select id="city_search_id" style="width: 139px;">
      <option value="0">---全部---</option>
      <% @cities.each do |city| %>
          <option value="<%= city.id %>"><%= city.name %></option>
      <% end if !@cities.empty? %>
      </select>&nbsp;&nbsp;医院名称：<input type="text" id="hospital_name">&nbsp;&nbsp;<a id="search_hos_btn" class="btn btn-default btn-sm" role="button">搜索</a>
    </div>
    <table id="hospital_list"></table>
    <div id="page_hos"></div>
  </div>
  <div style="hight: 48%;margin-top: 10px;margin-left: 20px;margin-right: 20px;">
    <div style="margin-bottom: 10px;">
      科室名称：<input type="text" id="dept_name_search">&nbsp;&nbsp;<a id="search_dept_btn" class="btn btn-default btn-sm" role="button">搜索</a>
    </div>
    <table id="department_list"></table>
    <div id="page_dept"></div>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#province_search_id").select2();
        $("#city_search_id").select2();
    })
    $("#province_search_id").on("change", function (event) {
        var pro_id = $('#province_search_id').val();
        $.get('hospitals/get_cities?province_id=' + pro_id, function (data) {
            var res = '<select width=300><option value="0">---全部---</option>';
            for (var k in data['cities']) {
                if (data['cities'].hasOwnProperty(k)) {
                    res += '<option value="' + k + '">' + data['cities'][k] + '</option> '
                }
            }
            res += '</select>';
            $("#city_search_id").html(res);
        }); // end get
    });
    jQuery("#hospital_list").jqGrid({
        url: 'hospitals/index_show',
        datatype: "json",
        mtype: 'GET',
        colNames: [ 'ID', '名称', '简称', '省份', '省份', '城市', '城市', '地址', '等级', '邮箱', '运营模式', '网址', '传真', '特色科室', '描述'],
        colModel: [
            { name: 'id', index: 'id', align: "left", key: 'id', hidden: true},
            { name: 'name', index: 'name', align: "center", editable: true},
            { name: 'short_name', index: 'short_name', align: "center", editable: true},
            { name: 'province_name', index: 'province_name', align: "center", editable: false},
            { name: 'province_id', index: 'province_id', align: "center", editable: true, hidden: true, editrules: {edithidden: true}, edittype: 'select', formatter: 'select',
                editoptions: {
                    style: "width:166px",
                    value: function () {
                        var positions;
                        $.ajax({
                            url: "hospitals/get_provinces",
                            async: false,
                            success: function (data) {
                                positions = data.provinces;
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                alert(textStatus);
                            }
                        });
                        return positions;
                    },
                    dataEvents: [
                        { type: 'change',
                            fn: function (e) {
                                var thisval = $(e.target).val();
                                $.get('hospitals/get_cities?province_id=' + thisval, function (data) {
                                    var res = '<select width=300>';
                                    for (var k in data['cities']) {
                                        if (data['cities'].hasOwnProperty(k)) {
                                            res += '<option value="' + k + '">' + data['cities'][k] + '</option> '
                                        }
                                    }
                                    res += '</select>';
                                    $("#city_id").html(res);
                                }); // end get
                            }

                        }
                    ]
                }
            },
            { name: 'city_id', index: 'city_id', align: "center", editable: true, hidden: true, editrules: {edithidden: true}, edittype: 'select', formatter: 'select',
                editoptions: {
                    style: "width:166px",
                    value: function () {
                        var positions;
                        $.ajax({
                            url: "hospitals/get_cities",
                     //       data:{province_id: },
                            async: false,
                            success: function (data) {
                                positions = data.cities;
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                alert(textStatus);
                            }
                        });
                        return positions;
                    }
                }
            },
            { name: 'city_name', index: 'city_name', align: "center", editable:  false},
            { name: 'address', index: 'address', align: "center", editable: true},
            { name: 'rank', index: 'rank', align: "center", editable: true, edittype: 'select', formatter: 'select',
                editoptions: {
                    style: "width:166px",
                    value: function () {
                        var positions;
                        $.ajax({
                            url: "hospitals/get_ranks",
                            async: false,
                            success: function (data) {
                                positions = data.ranks;
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                alert(textStatus);
                            }
                        });
                        return positions;
                    }
                }},
            { name: 'email', index: 'email', align: "center", editable: true, editrules: {email: true, required: false}},
            { name: 'operation_mode', index: 'operation_mode', align: "center", editable: true, edittype: 'select', editoptions:{value:"国有:国有;民营:民营", style: "width:166px"}},
            { name: 'hospital_site', index: 'hospital_site', align: "center", editable: true, editrules: {url: true, required: false}},
            { name: 'fax_number', index: 'fax_number', align: "center", editable: true},
            { name: 'key_departments', index: 'key_departments', align: "center", editable: true},
            { name: 'description', index: 'description', align: "center", hidden: true, editrules: {edithidden: true}, editable: true, edittype: 'textarea', editoptions: {rows: 5, style: "width:200px"}}
        ],
        rowList: [10, 15, 20],
        sortname: 'id',
        viewrecords: true,
        sortorder: "desc",
        autowidth: true,
        jsonReader: {
            root: "hospitals",
            total: "totalpages",
            page: "currpage",
            records: "totalrecords",
            repeatitems: false
        },
        onSelectRow: function (rowid) {
            jQuery("#department_list").jqGrid('setGridParam', {url: "departments/index_show?hospital_id=" + rowid }).trigger("reloadGrid");
            var id = jQuery("#hospital_list").jqGrid('getGridParam', 'selrow');
            var grid = $("#department_list");
            grid.setColProp("hospital_id", { editoptions: { defaultValue: id} });
            var name = $('#hospital_list').jqGrid('getRowData', rowid).name
            grid.setColProp("hospital_name", { editoptions: { defaultValue: name} });
        },
        prmNames: {
            page: "page", // 表示请求页码的参数名称
            rows: "rows", // 表示请求行数的参数名称
            id: "id", // 表示当在编辑数据模块中发送数据时，使用的id的名称
            //   npage: null,
            totalrows: "totalrows", // 表示需从Server得到总共多少行数据的参数名称，参见jqGrid选项中的rowTotal
            editoper: "edit", // 当在edit模式中提交数据时，操作的名称
            addoper: "add", // 当在add模式中提交数据时，操作的名称
            deloper: "del" // 当在delete模式中提交数据时，操作的名称
        },
        editurl: 'hospitals/oper_action',
        closeAfterAdd: true,
        pager: jQuery('#page_hos'),
       // multiselect: true,
        rowNum: 15,
        altclass: 'altRowsColour',
        width: '500',
        height: 'auto',
        caption: "医院管理"
    });
    jQuery("#hospital_list").jqGrid('navGrid', '#page_hos', {
                cloneToTop: true, addtext: "新增", addtitle: "新增", edittext: "编辑", edittitle: "编辑",
                deltext: "删除", deltitle: "删除",view: true, viewtext: "查看", viewtitle: "查看", search: false,
                refreshtext: "更新", refreshtitle: "更新"},
            {
                closeAfterEdit: true
            },//edit
            {
                closeAfterAdd: true
            }//add
             );
    //科室管理
    jQuery("#department_list").jqGrid({
        url: 'departments/index_show',
        datatype: "json",
        mtype: 'GET',
        colNames: ['ID', '姓名', '简称', '电话', '医院ID', '医院', '状态', '描述'],
        colModel: [
            { name: 'id', index: 'id', align: "left", key: 'id',hidden:true},
            { name: 'name', index: 'name', align: "center", editable: true},
            { name: 'short_name', index: 'short_name', align: "center", editable: true},
            { name: 'phone_number', index: 'phone_number', align: "center", editable: true, editrules: {custom: true, required: false, custom_func: check_phone}},
            { name: 'hospital_id', index: 'hospital_id', align: "center", editable: true, hidden: true, editrules: {custom: true, custom_func: check_hos, require:true}},
            { name: 'hospital_name', index: 'hospital_name', align: "center", editable: true, hidden: true, editrules: {edithidden: true}, editoptions: { readonly: 'readonly'}},
//            { name: 'department_type', index: 'department_type', align: "center", editable: true, edittype: 'select', editoptions: {value: {0:'门诊部', 1: '住院部', 2: '急诊部', 3: '药房', 4: '化验室'}, style: "width:166px"} },
            { name: 'state', index: 'state', align: "center", editable: true, hidden:true },
          //  { name: 'sort', index: 'sort', align: "center", editable: true},
            { name: 'description', index: 'description', align: "center", editable: true, hidden: true, editrules: {edithidden: true}, edittype: 'textarea', editoptions:{rows: 5, style: "width:200px"}}
        ],
        rowList: [10, 15, 20],
        sortname: 'id',
        viewrecords: true,
        sortorder: "desc",
        autowidth: true,
        jsonReader: {
            root: "departments",
            total: "totalpages",
            page: "currpage",
            records: "totalrecords",
            repeatitems: false
        },
        prmNames: {
            page: "page", // 表示请求页码的参数名称
            rows: "rows", // 表示请求行数的参数名称
            id: "id", // 表示当在编辑数据模块中发送数据时，使用的id的名称
            //   npage: null,
            totalrows: "totalrows", // 表示需从Server得到总共多少行数据的参数名称，参见jqGrid选项中的rowTotal
            editoper: "edit", // 当在edit模式中提交数据时，操作的名称
            addoper: "add", // 当在add模式中提交数据时，操作的名称
            deloper: "del", // 当在delete模式中提交数据时，操作的名称
            subgridid: "id" // 当点击以载入数据到子表时，传递的数据名称
        },
        editurl: 'departments/oper_action',
        closeAfterAdd: true,
        pager: jQuery('#page_dept'),
     //   multiselect: true,
        rowNum:10,
        altclass: 'altRowsColour',
        height: 'auto',
        caption: "科室管理"
    });
    jQuery("#department_list").jqGrid('navGrid', '#page_dept', {
                cloneToTop: true, addtext: "新增", addtitle: "新增", edittext: "编辑", edittitle: "编辑",
                deltext: "删除", deltitle: "删除", view: true, viewtext: "查看", viewtitle: "查看", search: false,
                refreshtext: "更新", refreshtitle: "更新"},
            {
                closeAfterEdit: true
            },//edit
            {
                closeAfterAdd: true,
                beforeShowForm: function () {
                    var id = jQuery("#hospital_list").jqGrid('getGridParam', 'selrow');
                    if(!id){
                        alert('请先选择医院！');
                    }
                }
            }//add
            );
    //验证医院是否为空
    function check_hos() {
        if (arguments[0].length == 0) {
            return [false, "您没有选择医院！"];
        } else {
            return [true, ""];
        }
    }
    //搜索医院
    $('#search_hos_btn').click(function () {
        var pro_id = $('#province_search_id').val();
        var city_id = $('#city_search_id').val();
        var hos_name = $('#hospital_name').val();
        jQuery("#hospital_list").jqGrid('setGridParam', {url: "hospitals/index_show?province_id=" + pro_id +'&city_id=' + city_id + '&name=' + hos_name }).trigger("reloadGrid")
    });
    //搜索科室
    $('#search_dept_btn').click(function () {
     //   var type = $('#dept_search_type').val();
        var name = $('#dept_name_search').val();
        var hos_id = jQuery("#hospital_list").jqGrid('getGridParam', 'selrow');
        jQuery("#department_list").jqGrid('setGridParam', {url: "departments/index_show?name=" + name + '&hospital_id=' + hos_id }).trigger("reloadGrid")
    });
    //验证电话
    function check_phone() {
        var reg = /^0?(13[0-9]|15[012356789]|18[0-9]|14[57])[0-9]{8}|(\d{2,5}-\d{7,8})$/;
        if (arguments[0] != '' && !reg.test(arguments[0])) {
            return [false, "联系电话格式不正确！"];
        } else {
            return [true, ""];
        }
    }
</script>