　<b>为所选择的医生分配医院和科室</b>

<div style="margin-top:20px;margin-bottom: 10px;">
  选择医院:
  <span id="doc_hospital"><%= render partial: 'doctors/hospital_partial' %></span>
</div>
<div>
  选择科室:
  <span id="doc_department"><%= render partial: 'doctors/department_partial' %></span>
</div>