<%= javascript_include_tag 'aes.js' %>
<table id="health_records_list"></table>
<div id="page_health_records"></div>
<div id="health_record_console">
  <div id="health_record_div" style="margin-top: 40px;"></div>
</div>
<script>
    jQuery("#health_records_list").jqGrid({
        url: '<%= @url_path %>',
        datatype: "json",
        mtype: 'post',
        colNames: [ '医院', '科室','医生', '类别', '日期', '查看','child_id'],
        colModel: [
            { name: 'hospital', index: 'hospital', align: "center"},
            { name: 'department', index: 'department', align: "center", editable: true},
            { name: 'doctor', index: 'doctor', align: "center", editable: true},
            { name: 'child_type', index: 'child_type', align: "center", editable: true,  editrules: {edithidden: true}},
            { name: 'checked_at', index: 'checked_at', align: "center", editable: true},
            { name: 'thumbnail', index: '', align: "center", editable: true,
                formatter: function (rowId, cellval, colpos, rwdat, _act) {
                    var value = colpos.thumbnail;
                    var str_value = CryptoJS.enc.Utf8.parse(value);
                    var base64_value = CryptoJS.enc.Base64.stringify(str_value);
//                    if (value!=null) {
                        if(colpos.child_id){
                            var str = CryptoJS.enc.Utf8.parse(colpos.child_id);
                            var base64 = CryptoJS.enc.Base64.stringify(str);
                            return "<a style=\"color:blue;text-align: center;width:100%\" target=\"_blank\" href=\"/health_records/go_where?uuid=" + base64_value + "&child_type=" + colpos.child_type + "&child_id=" + base64 + "\">查看</a>";
                        }else{
                            var str = CryptoJS.enc.Utf8.parse(colpos.id);
                            var base64 = CryptoJS.enc.Base64.stringify(str);
                            return "<a style=\"color:blue;text-align: center;width:100%\" target=\"_blank\" href=\"/health_records/go_where?uuid=" + base64_value + "&child_type=" + colpos.child_type + "&child_id=" + base64 + "\">查看</a>";
                        }

//                        return '<%#= link_to("查看", {controller: "health_records", action: "go_where", child_type: r.child_type, uuid: r.thumbnail, child_id: r.child_id}, :target => "_blank") %>'
//                    }else {
//                        return '无法查看'
//                    }
//                    return "<a style=\"color:blue;text-align: center;width:100%\" href=\"/health_records/inspection_report?uuid="+value+"\"　target=\"_Blank\">查看</a>";
                }
            },{ name: 'child_id', index: 'child_id', align: "center", hidden:true}
        ],
        rownumbers: true,
        page:1,
        rowList: [10, 15, 20, 30],
        sortname: 'id',
        viewrecords: true,
        sortorder: "desc",
        autowidth: true,
        jsonReader: {
            root: "health_records",
            repeatitems: false
        },
        prmNames: {
            page: "page", // 表示请求页码的参数名称
            rows: "rows", // 表示请求行数的参数名称
            id: "id", // 表示当在编辑数据模块中发送数据时，使用的id的名称
            //   npage: null,
            totalrows: "totalrows", // 表示需从Server得到总共多少行数据的参数名称，参见jqGrid选项中的rowTotal
            editoper: "edit", // 当在edit模式中提交数据时，操作的名称
            addoper: "add", // 当在add模式中提交数据时，操作的名称
            deloper: "del" // 当在delete模式中提交数据时，操作的名称
        },
//        editurl: '/groups/oper_action',
        closeAfterAdd: true,
        pager: jQuery('#page_health_records'),
        //   multiselect: true,
        rowNum: 20,
        altclass: 'altRowsColour',
        width: '500',
        height: 'auto',
        caption: "健康档案管理"
    });
    <%# if @flag != 'all' && @flag != ''  %>
    jQuery("#health_records_list").jqGrid('navGrid', '#page_health_records', {
                cloneToTop: true, add: false, edit: false,
                deltext:    '删除',
                delfunc : open_delete_dialog,
                view: false, search: false,
                refreshtext: "更新", refreshtitle: "更新"},
            {
            },//edit
            {
            },//add
            {
               
            }
    ).navButtonAdd('#page_health_records', { title: '修改', caption: '修改', buttonicon: "ui-icon-pencil", onClickButton: function () {
                health_edit();
            }, position: "first"}).navButtonAdd('#page_health_records', { title: '添加超声', caption: '添加超声', buttonicon: "ui-icon-plus", onClickButton: function () {
                health_new('超声');
            }, position: "first"}).navButtonAdd('#page_health_records', { title: 'dicom影像数据上传', caption: 'dicom影像数据上传', buttonicon: "ui-icon-plus", onClickButton: function () {
                addDicomRecords();
            }, position: "first"});;
    <%# end %>
    $("#health_record_console").dialog({    //初始化对话框
        autoOpen: false,
        modal: true,    // 设置对话框为模态（modal）对话框
        resizable: true,
        width: 570,
        position: {
            my: "center",
            at: "center",
            of: window,
            collision: "fit",
            // Ensure the titlebar is always visible
            using: function (pos) {
                var topOffset = $(this).css(pos).offset().top;
                if (topOffset < 0) {
                    $(this).css("top", pos.top - topOffset);
                } else {
                    $(this).css("top", 100);
                }
            }
        },
        buttons: {  // 为对话框添加按钮
            "保存": health_save,
            "修改": health_update,
            "删除": health_delete,
            "取消": function () {
                $("#health_record_console").dialog("close");
            }
        }
    });

    //DICOM
    function addDicomRecords(id) {

        window.open('/health_records/show_upload_dicom')

    }
    function health_edit() {
        var row_id = jQuery("#health_records_list").jqGrid('getGridParam', 'selrow');
        var rowData = $('#health_records_list').jqGrid('getRowData',row_id);
        var id = row_id
        <% if @type!='ultrasound2' %>
            id = rowData.child_id
        <% end %>
        if (row_id) {
            if(rowData.child_type == '超声'){
                $.ajax({
                    url: '/health_records/health_record_edit',
                    type: 'get',
                    data: {id: id, type: rowData.child_type},
                    success: function (data) {
                        $("#health_record_div").html(data);
                        var video_consoleDlg = $("#health_record_console");
                        var dialogButtonPanel = video_consoleDlg.siblings(".ui-dialog-buttonpane");
                        dialogButtonPanel.find("button:not(:contains('取消'))").hide();
                        dialogButtonPanel.find("button:contains('修改')").show();
                        video_consoleDlg.dialog("option", "width", "800");
                        video_consoleDlg.dialog("option", "title", "编辑记录").dialog("open");
                    }
                })
            }else{
                alert('除了超声信息其它的暂时无法进行修改!');
            }
        } else {
            alert('请选择修改项!');
        }
    }
    function health_new(str) {
        $.ajax({
            url: "/health_records/health_record_new",
            type: 'post',
            data: {
                type: str
            },
            success: function (data) {
                $("#health_record_div").html(data);
                var video_consoleDlg = $("#health_record_console");
                var dialogButtonPanel = video_consoleDlg.siblings(".ui-dialog-buttonpane");
                dialogButtonPanel.find("button:not(:contains('取消'))").hide();
                dialogButtonPanel.find("button:contains('保存')").show();
                video_consoleDlg.dialog("option", "width", "600");
                video_consoleDlg.dialog("option", "title", "添加记录").dialog("open");
            }
        });
    }
    function  open_delete_dialog(row_id){
        var consoleDlg = $("#health_record_console");
        $('#health_record_div').html("删除所选记录?<input id='del_type' type='hidden' value='<%= @type%>'/><input id='del_flag' type='hidden' value='<%= @flag%>'/>")
        var dialogButtonPanel = consoleDlg.siblings(".ui-dialog-buttonpane");
//        consoleDlg.find("input").removeAttr("disabled").val("");
        dialogButtonPanel.find("button:not(:contains('取消'))").hide();
        dialogButtonPanel.find("button:contains('删除')").show();
        consoleDlg.dialog("option", "height", "200");
        consoleDlg.dialog("option", "width", "290");
        consoleDlg.dialog("option", "title", "删除").dialog("open");
    }
        function health_save(){
            $.ajax({
                url: "/health_records/ultrasound_save",
                type: 'post',
                data: { patient_id: $('#patient_id').val(),
                    patient_name: $('#patient_name').val(),
                    us_order_id: $('#us_order_id').val(),
                    apply_department_name: $('#apply_department_name').val(),
                    bed_no: $('#bed_no').val(),
                    apply_doctor_name: $('#apply_doctor_name').val(),
                    examined_item_name: $('#examined_item_name').val(),
                    examine_doctor_name: $('#examine_doctor_name').val(),
                    us_finding: $('#us_finding').val(),
                    us_diagnose: $('#us_diagnose').val(),
                    inputer_name: $('#inputer_name').val(),
                    image_list: $('#image_path2').val(),
                    video_list: $('#video_path').val(),
                    clinic_no: $('#clinic_no').val(),
                    hospitalized_no: $('#hospitalized_no').val()
                },
                async: false,
                success: function (data) {
                    if(data['success']){
                        alert('保存成功');
                        $("#health_record_console").dialog("close");
                    }else{
                        alert('保存失败!');
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert('保存失败!');
                }
            });
        }
        function health_update(){
            $.ajax({
                url: "/health_records/ultrasound_update",
                type: 'post',
                data: { id: $('#id').val(),
                    patient_id: $('#patient_id').val(),
                    patient_name: $('#patient_name').val(),
                    us_order_id: $('#us_order_id').val(),
                    apply_department_name: $('#apply_department_name').val(),
                    bed_no: $('#bed_no').val(),
                    apply_doctor_name: $('#apply_doctor_name').val(),
                    examined_item_name: $('#examined_item_name').val(),
                    examine_doctor_name: $('#examine_doctor_name').val(),
                    us_finding: $('#us_finding').val(),
                    us_diagnose: $('#us_diagnose').val(),
                    inputer_name: $('#inputer_name').val(),
                    child_type: $('#child_type').val(),
                    image_list: $('#image_path2').val(),
                    video_list: $('#video_path').val(),
                    clinic_no: $('#clinic_no').val(),
                    hospitalized_no: $('#hospitalized_no').val()
                },
                async: false,
                success: function (data) {
                    if (data['success']) {
                        alert('保存成功');
                        $("#health_record_console").dialog("close");
                    } else {
                        alert('保存失败!');
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert('保存失败!');
                }
            });
        }
        function health_delete(row_id){
        var row_id = jQuery("#health_records_list").jqGrid('getGridParam', 'selrow');
//        var rowData = $('#health_records_list').jqGrid('getRowData',row_id);
        var type = $('#del_type').val()
//        var flag = $('#del_flag').val()
        var child_id = row_id
            var child_type = 'DICOM'
//            if(flag){
//                var child_type = 'DICOM'
//            }else{
                if(type=='ultrasound2'){
                    child_type = '超声'
                }
                if(type=='ct2'){
                    child_type='CT'
                }
                if(type=='mri2'){
                    child_type='MR'
                }
                if(type=='inspection_report2'){
                    child_type='检查报告'
                }
                if(type=='ecg2'){
                    child_type='心电图'
                }
//            }
            $.ajax({
              url:'/health_records/ultrasound_delete?child_id='+child_id+'&child_type='+child_type,
              type:'delete',
              success: function (data) {
                  if (data['success']) {
                      $("#health_record_console").dialog("close");
                      $('#refresh_health_records_list').click()
                  }else{
                      $("#health_record_console").dialog("close");
                      alert('删除失败!')
                  }
              }
            })
    }
</script>