<div class="container pages" style="padding:0;margin-top:-10px;"><%=image_tag "pages.png" ,:class => "img-responsive"%></div>
<div id="fade" class="container index_box" style="text-align: center; margin-top:-1px;border-bottom:2px solid #d1d1d1;">
  <br/>
  <div id="iReport">
    <%= image_tag(Settings.aliyunOSS.image_url+@uuid , style: "background-color: #f9f9f9") %>
  </div>
  <br/>
</div>