<br/>
<h1>Listing Cities</h1>
<% @cities.each do |city|%>
    <% city.counties.each do |p|%>
    <%= p.name%>
    <%end%>
<%end%>
<div style="margin:10px;">
  <a id="create_city" class="btn btn-primary btn-sm active" role="button">添加市</a>
  <a id="edit_city" href="" class="btn btn-default btn-sm disabled" role="button">编辑市</a>
  <a id="delete_city" href="" class="btn btn-default btn-sm disabled" role="button">删除市</a>
</div>
<table id="list12"></table>
<div id="pager12"></div>

<script>
    jQuery("#list12").jqGrid({
        url:'/cities',
        datatype: "json",
        colNames:['ID','市','省ID','县'],
        colModel:[
            {name:'ID',index:'id', width:240},
            {name:'name',index:'name', width:255},
            {name:'province_id',index:'province_id', width:300},
            {name:'name',index:'name', width:300}
        ],
        pager: jQuery('#pager12'),
        rowNum:10,
        multiselect: true,
        rowList:[10,20,30],
        sortname: 'id',
        viewrecords: true,
        sortorder: "desc",
        caption:"省市列表"
    });
</script>
<div id="dialog-form" title="Create or edit user">
  <%#= render 'form' %>
</div>