/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *require_tree .
 *= require login.css
 *=require jquery.Jcrop
 *= require header.css
 *= require jquery-ui
 *= require select2
 *= require ui.jqgrid
 *= require jquery.datetimepicker
 *= require zTreeStyle
 *= require_self
 *= require admin2s_role2s
 *= require block_contents
 *= require home_menu
  *= require setting
 */
.ui-jqdialog-content .DataTD {
    padding: 2px;
    border: 0 none;
    vertical-align: top;
    white-space: normal !important;
    height: auto;
    margin-right: 30px;
}
body{background:url('') #f3f3f3;font-family:"Microsoft YaHei",Arial;}
button,table td,table th,input,a,.ztree *,textarea{font-family:"Microsoft YaHei",Arial !important;}
.clear {
    clear: both;
    height: 0px;
    overflow: hidden;
    font-size: 0px;
}
.ui-jqgrid tr.ui-row-ltr td{
    height:30px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space: nowrap;
}
.ui-widget{
    font-family:"Microsoft YaHei",Arial !important;
    font-size:1em !important;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
    border:1px solid #9c9d9f !important;/*{borderColorHighlight}*/
    background:#a8aaad !important;
}
#ViewTbl_dictionary_type_list td,
#ViewTbl_dictionary_list td,
#ViewTbl_hospital_list td,
#ViewTbl_department_list td,
#ViewTbl_national_list td,
#ViewTbl_advice_list td,
#ViewTbl_diagnose_list td,
#ViewTbl_knowledge_type_list td,
#ViewTbl_knowledge_list td,
#ViewTbl_list td,
#ViewTbl_list12 td,
#ViewTbl_list10 td,
#ViewTbl_user_list td,
#ViewTbl_edu_video_list td,
#ViewTbl_skill_list td,
#ViewTbl_video_type_list td
{
  border-bottom:1px solid #ececec;
  padding:3px 0;
}
