body{margin:0;padding:0;}

.yahei{
    font-family: "Microsoft YaHei", Arial;
}
#menu li a {
    color: #fff;
    font-family: "Microsoft YaHei", Arial;
    height: 34px;
    display: inline-block;
    padding-top: 10px !important;
    text-align: center !important;

}

#menu #fat-menu li a {
    height: 20px;
    line-height: normal !important;
}

#menu li ul {
    top: 49px !important;
    left: 0px !important;
    background: #2f343a;
}

#menu li ul li {
    line-height: 30px !important;
}

.navbar-inverse {
    background-color:#313235;
    border-color:#252627 !important;
}


.ui-pg-table .ui-state-hover{
    background:transparent !important;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border-width: 0px !important;
    background: #eeeeee !important;
    color: #ffffff !important;
}

.drown-menu li a:hover {
    background: transparent;
}

/*.logo,.logo a {*/
    /*margin-left: 20px;*/
    /*font-size: 24px;*/
    /*color: #fff;*/
    /*line-height: 50px;*/
    /*font-family: "Microsoft YaHei", Arial;*/
/*}*/



.ui-menu:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.ui-menu .ui-menu-item {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    width: auto;
    background:#313235;
}
#menu li {
    width: 140px;
    border-color:transparent !important;
    text-align:center !important;
}
.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
    margin: 0px !important;
}







.nologin_nav{
    height:49px;
    width:100%;
    background:#313235;
    border-bottom:1px solid #2c2d30;
    color:#fff;
}
.nologin_logo{
    line-height:49px;
    font-weight:bold;
    font-family: "Microsoft YaHei",Arial;
    font-size:20px;
    float:left;
    margin-left:15px;
    width:180px;
}
.nologin_menu{
    float:right;
    background:#000;
}
.nologin_menu .ui-widget-content{
    height:29px;
    background:#313235;
    border:none;
}
.nologin_user{
    font-family: "Microsoft YaHei",Arial;
    font-size:14px;
    padding-top:15px;
    color:#989898;
}
.fr{float:right;}
.fl{float:left;}
/*--------------------logo--------------------*/
.logo{

    height:50px;
    margin:0;padding:0;
}

.logo a{
    background:url(http://mimas-img.oss-cn-beijing.aliyuncs.com/logo.png) no-repeat center center #222222;
    background-size:32px;
    width:52px;
    height:50px;
    display:inline-block;
    margin:0;
    padding:0;
}
/*--------------------logo end--------------------*/
/*-------------------------header nav-------------------*/
#nav .navbar-brand{
    color:#ffffff;
    font-family: "Microsoft YaHei","黑体";
}
#nav .navbar-nav > li > a{
    color:#aaaaaa;
    font-family: "Microsoft YaHei","黑体";
}
#nav .navbar-nav > li > a:hover{
    color:#ffffff;
    font-family: "Microsoft YaHei","黑体";
}
#nav .nav > li > a{
    padding-left:10px;
    padding-right:10px;
}
#nav .tooltip{
    min-width:50px;
    white-space:nowrap;
    word-break:normal;
}

.left_line{
    border-left:1px solid #2e2e2e;
}
.no-hand{
    cursor:default;
}
.default_color:hover{
     color:#aaa !important;
}
.margin_right{
    margin-right:10px;
}
@media(min-width:769px){
    .navbar-collapse.in{
        overflow:visible !important;
        overflow-y:visible !important;
    }
}
/*-------------------------nav end-------------------*/