
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-11 {
    width: 91.66666667%;
}
.col-xs-10 {
    width: 83.33333333%;
}
.col-xs-9 {
    width: 75%;
}
.col-xs-8 {
    width: 66.66666667%;
}
.col-xs-7 {
    width: 58.33333333%;
}
.col-xs-6 {
    width: 50%;
}
.col-xs-5 {
    width: 41.66666667%;
}
.col-xs-4 {
    width: 33.33333333%;
}
.col-xs-3 {
    width: 25%;
}
.col-xs-2 {
    width: 16.66666667%;
}
.col-xs-1 {
    width: 8.33333333%;
}
@media(min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-11 {
        width: 91.66666667%;
    }
    .col-sm-10 {
        width: 83.33333333%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-8 {
        width: 66.66666667%;
    }
    .col-sm-7 {
        width: 58.33333333%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-5 {
        width: 41.66666667%;
    }
    .col-sm-4 {
        width: 33.33333333%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-2 {
        width: 16.66666667%;
    }
    .col-sm-1 {
        width: 8.33333333%;
    }

    }@media(min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-1 {
        width: 8.33333333%;
    }

    }
.menu_box{
    width:100%;
    background:#fff;
    border-radius:3px;
    border:1px solid #dcdcdc;

}
.menu_box .ztree{
    margin-bottom:15px;
}
.menu_box .ztree *{
    font-size:14px !important;
    font-family:"MIcrosoft YaHei",Arial;
}

#showHomePage {
    border-left:1px solid #dcdcdc;
    padding:15px;
}
.menu_box .ztree li span.button.bottom_docu{
    background-image:url("img/line.png");
    background-position: 7px -82px !important;
}
.menu_box .ztree li span.button.center_docu{
    background-image:url("img/line.png");
    background-position: 7px -13px !important;
}
.menu_box .ztree li a{
    height:20px;
}
.menu_box .ztree li span.button.switch{
    height:21px;
}
.menu_box .ztree li span.button.root_open{
    background-image:url("img/line.png");
    background-position: -30px -48px !important;
}
.menu_box .ztree li span.button.root_close{
    background-image:url("img/line.png");
    background-position: 7px -48px !important;
}
.menu_box .ztree li ul.line{
    background: url(img/line_conn2.png) 7px 0 repeat-y;
}
.menu_box .ztree li span.button.roots_docu {
    background-image:url("img/line.png");
    background-position: 7px 0px !important;
}
.home_menu_title{
    border:2px solid #dcdcdc;
    font-size:20px;
    padding:5px;
    font-family:"MIcrosoft YaHei",Arial;
    margin:5px 0 10px 0;
    width:99%;
}
.home_menu_content{
    font-family:"MIcrosoft YaHei",Arial;
    margin:0 0 5px 0;

}
.home_menu_content2{
    font-family:"MIcrosoft YaHei",Arial;
    margin:0 0 10px 0;
    color:#888;
    font-size:14px;
}
.add_btn{
    cursor:pointer;
    background: #55cc7f;
    border:1px solid #51b46b;
    padding:5px 10px;
    color:#fff;
    font-size:16px;
    font-weight:bold;
    margin-bottom:15px;
    margin-top:15px;
    width:95%;
}
.add_btn:hover{
    cursor:pointer;
    background: #51bb72;
    border:1px solid #4eab65;
    padding:5px 10px;
    color:#fff;
    margin-bottom:15px;
    margin-top:15px;
    width:95%;
}
.q_btn{
    cursor:pointer;
    background: #bfbfbf;
    border:1px solid #a6a6a8;
    padding:5px 10px;
    font-size:16px;
    color:#fff;
    font-weight:bold;
    margin-bottom:15px;
    margin-top:15px;
    width:95%;
}
.q_btn:hover{
    cursor:pointer;
    background: #b3b3b3;
    border:1px solid #a6a6a8;
    padding:5px 10px;
    color:#fff;
    margin-bottom:15px;
    margin-top:15px;
    width:95%;
}
/*-------------------左侧菜单---------------*/

.sidebar-wrapper {
    position: fixed;
    top: 0px;
    left: 0;
    height: 100%;
    border-right: 1px solid #EAEAEA;
}

.sidebar-wrapper {
    z-index: 99;
    overflow-y: auto;
    background: #F5F5F5;
}

.content-wrapper {
    width: 100% !important;
    padding: 0px 15px 15px 15px !important;
    margin-top:50px;

}


.navbar-gitlab {
    z-index: 100;
    margin-bottom: 0;
    min-height: 40px;
    border: none;
    width: 100%;
}
@media(max-width:767px){
    .navbar-collapse {
        width:100% !important;
        height:55px;
    }
    .navbar-collapse .nav{
        width:98% !important;
        margin:0 auto;
    }
    .navbar-collapse .nav li {
        float:left;
    }
}





.nav-sidebar {
    margin: 0;
    list-style: none;
}

.nav-sidebar.navbar-collapse {
    padding: 0px !important;
}

.nav-sidebar li a .count {
    float: right;
    background: #eee;
    padding: 0px 8px;
}

.nav-sidebar li.active a {
    color: #111;
    background: #EEE;
    font-weight: bold;
    font-family: "Microsoft YaHei","黑体";
}

.nav-sidebar li.active a.no-highlight {
    background: none;
}

.nav-sidebar li.active
            a i {
    color: #444;
}

.nav-sidebar li.separate-item {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 10px;
}

.nav-sidebar li a {
    color: #555;
    display: block;
    text-decoration: none;
    padding: 6px 15px;
    font-size: 14px;
    line-height: 20px;
    text-shadow: 0 1px 2px #FFF;
    padding-left: 20px;
}

.nav-sidebar li a:hover {
    text-decoration: none;
    color: #333;
    background: #DDD;
}

.nav-sidebar li a:active, .nav-sidebar li a:focus {
    text-decoration: none;
}

.nav-sidebar li a i {
    width: 20px;
    color: #888;
    margin-right: 23px;
}




.sidebar-subnav {
    margin-left: 0px;
    padding-left: 0px;
}

.sidebar-subnav li {
    list-style: none;
}

@media (max-width: 1200px) {
    .sidebar-wrapper {
        width: 52px;
        overflow-x: hidden;
    }
    .sidebar-wrapper .nav-sidebar {
        margin-top: 20px;
        position: absolute;
        top: 45px;
        width: 52px;
    }
    .sidebar-wrapper .nav-sidebar li a {
        padding-left: 18px;
        font-size: 14px;
        padding: 10px 15px;
        text-align: center;
    }
    .sidebar-wrapper .nav-sidebar li a > span {
        display: none;
    }
;
    }
@media (max-width: 1199px) {
    .page-with-sidebar {
        padding-left: 50px;
    }
}
@media (min-width: 1199px) {
    .page-with-sidebar {
        padding-left: 250px;
    }
    .sidebar-wrapper {
        width: 250px;
    }
    .sidebar-wrapper .nav-sidebar {
        margin-top: 20px;
        position: fixed;
        top: 45px;
        width: 250px;
    }
;
    }

@media (max-width: 991px) and(min-width: 768px) {
    .hidden-xs.hidden-sm, tr.hidden-xs.hidden-sm, th.hidden-xs.hidden-sm, td.hidden-xs.hidden-sm {
        display: none !important;
    }
    @media (max-width: 991px) and(min-width: 768px) {
        .visible-xs.visible-sm {
            display: block !important;
        }
    }
}