
.login-box {
    background: #fafafa;
    border-radius: 10px;
    box-shadow: 0 0px 2px #CCC;
    padding: 15px;
    margin-top:15px;
}
.form-control.top {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    margin-bottom: 0px;
}
.form-control.bottom {
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    border-top: 0;
    margin-bottom: 20px;
}
.login-box .form-control{
    font-size: 14px;
    padding: 10px 8px;
    width: 100%;
    height: auto;
}