<style>
        /*内容样式*/
    .first_c{
        width:33.22%;
        height:350px;
        border-right:1px dashed #dcdcdc;
        border-bottom:1px dashed #dcdcdc;
        float:left;
        padding:20px 0px;
        margin:0 auto;
    }
    .first_c p{
        margin:10px 20px 0 20px;
    }
    .first_c p a{
        color:#555555;
        line-height:24px;
        text-decoration:none;
        font-family: Arial, Helvetica, sans-serif;
        font-size:13px;
        word-break:break-all;
    }
    .title{
        text-align:center;
        height:150px;
        overflow:hidden;
        border:1px solid #008c70;
        border-radius:5px;
        width:90%;
        margin:0 auto;
        position:relative;

    }
    .title img{
        width:100%;
        position:absolute;
        bottom:-20px;
        left:0;

    }
    .first_c h3{
        font-family:"Microsoft YaHei",Arial;
        font-size:18px;
        font-weight:bold;
        color:#008c70;
        margin:10px 20px 0 20px;
    }
    .first_c h4{
        background:url(list_style.png) no-repeat -8px center;
        padding-left:15px;
        font-size:13px;
        font-weight:bold;
        color:#444;
        margin:10px 20px 0 20px;
    }
</style>
<div class="first_c">
  <div class="title"><a href="medical_research.html"><img src="images/3.jpg" /></a></div>
  <h3>科学研究</h3>
  <h4>医疗信息技术实验室</h4>
  <p><a href="#">医疗信息技术实验室是“玉泉医院肿瘤消融中心”与“信息学院”计算机系在多年合作基础上成立的“实验室”，挂靠在“信息科学与技术国家实验室”之下，是开展绿色医疗信息技术研发的技...</a>
  </p>
</div>