<style>
    input,select{
        /*display: block;*/
        /*margin-top: 1em;*/
    }
    .bar {
        height: 18px;
        background: green;
    }

    #progress1,#progress2 {
        width: 490px;
        background: #f5f5f5;
        /*box-sizing: border-box;*/
    }
</style>
<br>
<br>
    <input type="file" name="image" id='fileupload_img' style='visibility:hidden;'>
    <input type=" text" name="image_url"  id='image_path' style='visibility:hidden;' >
    <input type="hidden" id='block_id' name="block_id" value="<%= @page_block.id %>">
    <table class="EditTable" style="margin-top: -80px;">
      <% if @page_block.block_type == 'hospital_environment' || @page_block.block_type == 'pic_text1'%>
          <tr class="FormData">
            <td class="CaptionTD">图片标题:</td>
            <td class="DataTD">
              <input type="text" id="title" name='title' class='FormElement ui-widget-content ui-corner-all'></td>
          </tr>
          <% end %>
      <% if @page_block.block_type == 'pic_text2'%>
          <tr class="FormData">
            <td class="CaptionTD">标题:</td>
            <td class="DataTD">
              <input type="text" id="title" name='title' class='FormElement ui-widget-content ui-corner-all'></td>
          </tr>
          <tr class="FormData">
            <td class="CaptionTD">子标题:</td>
            <td class="DataTD">
              <input type="text" id="subtitle" name='subtitle' class='FormElement ui-widget-content ui-corner-all'></td>
          </tr>
      <% end %>
      <tr class="FormData">
        <td class="CaptionTD">上传图片:</td>
        <td class="DataTD">
          <label id="image_path2"></label><input id="fakebtn1_img" style="display:inline" type="button" value="选择图片文件"/>
         </td>
      </tr>

      <tr class="FormData">
        <td class="CaptionTD">访问方式:</td>
        <td class="DataTD" style="padding-left: 30px;">
          <input type="radio" name="radio_url" class="radio_url" value="1" checked=true onchange="showContent(this.value)"/>链接
          <input type="radio" name="radio_url" class="radio_url" onchange="showContent(this.value)" value="2" style="margin-left: 30px;"/>文本
        </td>
      </tr>

      <tr class="FormData" id="textareaContent" style="display:none      "  >
        <td class="CaptionTD">文本内容:</td>
        <td class="DataTD">
          <textarea name='content' rows="5" id="content" style="width: 300px; " class='FormElement ui-widget-content ui-corner-all'></textarea>
        </td>
      </tr>

      <tr class="FormData" id="contentUrl" >
        <td class="CaptionTD">链接路径:</td>
        <td class="DataTD"  >
          <input  type="text" size="60" name="contentUrl" id="content_url"  placeholder="这里输入图片链接地址"/>
        </td>
      </tr>

    </table>
<script>
    $(function () {
        KindEditor.ready(function (K) {
            window.editor = K.create('#content', {
                resizeType:0,
                width: 600,
                height: 400,
                allowFileManager: false,
                window_onload: true,
                simple_mode: false,
                uploadJson: "/block_contents/editor_upload",
                afterBlur: function () {
                    this.sync();
                }
            });
        });
    })
    function getFileName(obj)
    {
        var pos = obj.value.lastIndexOf("/")*1;
        var filepath = obj.value.substring(pos+1);
        var pos2 = filepath.lastIndexOf("\\")*1;
        var filename = filepath.substring(pos2+1);
        $('#video_path').val(filename);
        $('#progress2 .bar').css(
                'width',
                '0%'
        );
    }
    $("#fakebtn1_img").click(function () {
        $("#fileupload_img").click();
    });
    var ChunkCount = 0;
    var stime;
        var url1 = "/block_contents/upload_image";
        $('#fileupload_img').fileupload({
            autoUpload: true,
            type:'post',
            url: url1,
            dataType: 'json',
            //forceIframeTransport: true,
//            maxChunkSize: 100000000, //100Mb
            fail:function (e, data) {
                console.log(data.errorThrown);
                alert('上传失败！')
            },

            done: function (e, data) {
                if (data.result.flag){
                   $('#image_path').val(data.result.url);
                   $('#image_path2').html('上传成功!');
                }
            }
        });
//控制弹出框的radio显示富文本或者超链接输入框
    function showContent(value){
        if (value=='1'){
            $("#content_url").val("")
            $("#content_url").attr("placeholder","这里输入图片链接地址")
//            $("#content_url").val("这里输入图片链接地址")
            document.getElementById("textareaContent").style.display="none"
            document.getElementById("contentUrl").style.display=""
        }else{
            document.getElementById("contentUrl").style.display="none"
            document.getElementById("textareaContent").style.display=""
            <%#= Settings.block_content%>
            $("#content_url").val("<%= Settings.block_content%>")

        }
    }
</script>