<div style="width: 100%">
  <div class="">
    <div class="warning_box">
      <table class="EditTable">
        <tr class="FormData" style="display: block;" id="show_name">
          <td class="CaptionTD"><b>区块名称:</b><%= @page_block.name %></td>
          <td class="DataTD">
            <button type="button" class="btn btn-default" onclick="update_name()">修改</button>
          </td>
        </tr>
        <tr class="FormData" style="display: none;" id="edit_name">
          <td class="CaptionTD"><input type="text" name="name" class="text_input" value="<%= @page_block.name %>" id="block_name"></td>
          <td class="DataTD">
            <button type="button" class="btn btn-default" onclick="cel_type()">取消</button>
            <button type="button" class="btn btn-success" onclick="update_block()">保存</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="jqgride_div">
    <table id="block_content_pictures_list"></table>
    <div id="page_block_content_pictures"></div>
  </div>


  <div>

  </div>
</div>

<script>
    function update_name(){
        $('#edit_name').show();
        $('#show_name').hide();
    };
    function cel_type(){
        $('#edit_name').hide();
        $('#show_name').show();
    };
    /*保存区块名称*/
    function update_block(){
        $.ajax({
            type: 'put',
            url: 'page_blocks/' + <%= @page_block.id%>,
            data: {page_block: {
                name: $('#block_name').val()
            }},
            success: function (data) {
                $("#rightContent").html(data);
                var pageBlockId=<%= @page_block.id%>
                save_content_model2(pageBlockId)
            }
        })
    };

    // 更新保存模板
    function save_content_model2(pageBlockId){
        $.ajax({
            type: 'get',
            url: '/page_blocks/add_content2',
            data: {page_block_id: pageBlockId},
            success: function (data) {
                $("#rightContent").html(data);
                jQuery('.ui-jqdialog-titlebar-close').click();


            }
        })

    }
</script>

