<style>
        .select2-container{
            width:200px;

        }
</style>
<div id = 'city_'>
  <select  id="city" name="city[id]" onchange="search_county()">
  <option value="">---请选择---</option>
  <% if @city.nil? %>
      <% @city = City.all %>
  <% end %>
  <% if !@city.empty? %>
      <% @city.each do |city| %>
          <option id='city_<%= city.id %>' value="<%= city.id %>"><%= city.name %></option>
      <% end %>
  <% end %>

</select>
</div>
<script>

    function search_county() {
        var city_id = $("#city").val();
        $.ajax({
            type : 'get',
            url : '/provinces/get_county?city_id='+city_id,
            data : 'text',
            success : function(data){
                $("#county_").html(data);
                $("#county_div").css('display','block');
            }
        })
    };
</script>
