<style>
        .select2-container{
            width:200px;
        }
</style>
<div id="county_">
  <select  id="county" name="county[id]">
  <option value="">---请选择---</option>
  <% if @county.nil? %>
      <% @county = County.all %>
  <% end %>
  <% if !@county.empty? %>
      <% @county.each do |city| %>
          <option id='city_<%= city.id %>' value="<%= city.id %>"><%= city.name %></option>
      <% end %>
  <% end %>
</select>
</div>
