<br/>
<div style="margin:10px;">
  <a id="create_province" class="btn btn-primary btn-sm active" role="button">添加省市</a>
  <a id="edit_province" href="javascript:edit_result()" class="btn btn-default btn-sm disabled" role="button">编辑省市</a>
  <a id="delete_province" class="btn btn-default btn-sm disabled" role="button">删除省市</a>
</div>
<div id="province_city_county">
<div>
<table id="list_province"></table>
<div id="page_province"></div>
</div>
<div>
<table id = "list_city"></table>
<div id="page_city"></div>
</div>
<div>
<table id = "list_county"></table>
<div id="page_county" style="float: left"></div>
</div>
</div>
<script>
    var row_id;
    var selectedIds  = jQuery("#list_province").jqGrid("getGridParam","selarrrow");
    jQuery("#list_province").jqGrid({
        url:'/provinces',
        datatype: "json",
        colNames:['ID','省','简称', '英文拼写'],
        colModel:[
            {name:'ID',index:'id',width:150},
            {name:'name',index:'name',width:150},
            {name:'short_name',index:'short_name',width:150},
            {name:'spell_name',index:'spell_name',width:150}
        ],
        pager: jQuery('#page_province'),
        sortname: 'id',
        rowNum:20,

        altRows: true,
        ignoreCase: true,
        multiselect: true,
        rowList:[10,20,30,40],
        sortname: 'id',
        onSelectRow : function(id){
            selectedIds  = jQuery("#list_province").jqGrid("getGridParam","selarrrow");
            if(selectedIds.length!=0){
                $('#edit_province').removeClass('disabled');
                $('#delete_province').removeClass('disabled');
                if(jQuery("#list_city").jqGrid('getGridParam','records') >0 )
                {
                    jQuery("#list_city").jqGrid('setGridParam',{url:"cities?province_id="+selectedIds});
                    jQuery("#list_city").jqGrid('setCaption',"市列表")
                            .trigger('reloadGrid');
                }
            } else {
                jQuery("#list_city").jqGrid('setGridParam',{url:"cities"});
                jQuery("#list_city").jqGrid('setCaption',"市列表")
                        .trigger('reloadGrid');
            }
        },
        gridComplete: function(){
            if(selectedIds){
                var selected_ids = ''+selectedIds
                if (selected_ids.split(',')[0]!=''){
                    for(var i=0; i<selected_ids.split(',').length;i++){
                        $(this).jqGrid("setSelection",selected_ids.split(',')[i]);
                    }
                }
            }
        },
        sortorder: "desc",
        viewrecords: true,
        editurl:'/provinces/',
        caption:"省列表"
    });
    jQuery("#list_province").jqGrid('navGrid','#page_province',{edit:false,add:false,del:false});
    var selectedIds  = jQuery("#list_province").jqGrid("getGridParam","selarrrow");
    $(function(){
        $( "#create_province" ).button().on( "click", function() {
            $.ajax({
                type:'get',
                url:'/provinces/new?&menu_id=<%=@menu_id%>',
                success:function(data){
                    $('#create_or_edit_form').html(data)
                }
            })
            $('#create_or_edit_form').modal('show');
        });
        $( "#delete_province").button().on( "click", function() {
            if(confirm("确定要删除吗？") ) {
                $.ajax({
                    type: 'delete',
                    url: '/provinces/' + selectedIds + '?menu_id=<%=@menu_id%>',
                    success: function (data) {
                        if (data['success']) {
                            alert('删除成功!');
                        } else {
                            alert('删除失败!');
                        }
                    }
                })
            }
            var url= "/provinces?menu_id=<%=@menu_id%>"
            jQuery("#list_province").jqGrid('setGridParam',{url:url}).trigger("reloadGrid");
        });
    });
    function edit_result(){
        if(selectedIds.length!=1){
            alert("请选中一个数据在进行编辑！");
            return;
        }
        $.ajax({
            type:'get',
            url:'/provinces/'+selectedIds+'/edit?menu_id=<%=@menu_id%>',
            success:function(data){
                $('#create_or_edit_form').html(data);
            }
        })
        $('#create_or_edit_form').modal('show');
    };
</script>
<script>
    var row_id;
    var selectedIds  = jQuery("#list_city").jqGrid("getGridParam","selarrrow");
    jQuery("#list_city").jqGrid({
        url:'/cities',
        datatype: "json",
        colNames:['ID','市名称','省ID'],
        colModel:[
            {name:'ID',index:'id'},
            {name:'name',index:'name'},
            {name:'province_id',index:'province_id'}
        ],
        pager: jQuery('#page_city'),
        sortname: 'id',
        rowNum:20,
        altRows: true,
        ignoreCase: true,
        multiselect: true,
        rowList:[10,20,30,40],
        sortname: 'id',
        onSelectRow : function(id){
            selectedIds  = jQuery("#list_city").jqGrid("getGridParam","selarrrow");
            if(selectedIds.length!=0){
                $('#edit_province').removeClass('disabled');
                $('#delete_province').removeClass('disabled');
                if(jQuery("#list_county").jqGrid('getGridParam','records') >0 )
                {
                    jQuery("#list_county").jqGrid('setGridParam',{url:"counties?city_id="+selectedIds});
                    jQuery("#list_county").jqGrid('setCaption',"县列表")
                            .trigger('reloadGrid');
                }
            } else {
                jQuery("#list_county").jqGrid('setGridParam',{url:"counties"});
                jQuery("#list_county").jqGrid('setCaption',"县列表")
                        .trigger('reloadGrid');
            }
        },
        gridComplete: function(){
            if(selectedIds){
                var selected_ids = ''+selectedIds
                if (selected_ids.split(',')[0]!=''){
                    for(var i=0; i<selected_ids.split(',').length;i++){
                        $(this).jqGrid("setSelection",selected_ids.split(',')[i]);
                    }
                }
            }
        },
        sortorder: "desc",
        viewrecords: true,
        editurl:'/cities/',
        caption:"市列表"
    });
    jQuery("#list_city").jqGrid('navGrid','#page_city',{edit:false,add:false,del:false});
    var selectedIds  = jQuery("#list_city").jqGrid("getGridParam","selarrrow");
</script>
<script>
    var row_id;
    var selectedIds  = jQuery("#list_county").jqGrid("getGridParam","selarrrow");
    jQuery("#list_county").jqGrid({
        url:'/counties',
        datatype: "json",
        colNames:['ID','县','市ID', '省ID'],
        colModel:[
            {name:'ID',index:'id'},
            {name:'name',index:'name'},
            {name:'city_id',index:'city_id'},
            {name:'province_id',index:'province_id'}
        ],
        pager: jQuery('#page_county'),
        sortname: 'id',
        rowNum:20,
        altRows: true,
        ignoreCase: true,
        multiselect: true,
        rowList:[10,20,30,40],
        sortname: 'id',
        onSelectRow : function(id){
            selectedIds  = jQuery("#list_province").jqGrid("getGridParam","selarrrow");
            if(selectedIds.length!=0){
                $('#edit_province').removeClass('disabled');
                $('#delete_province').removeClass('disabled');
            }else{
                $('#edit_province').addClass('active');
                $('#delete_province').addClass('active');
            }
        },
        gridComplete: function(){
            if(selectedIds){
                var selected_ids = ''+selectedIds
                if (selected_ids.split(',')[0]!=''){
                    for(var i=0; i<selected_ids.split(',').length;i++){
                        $(this).jqGrid("setSelection",selected_ids.split(',')[i]);
                    }
                }
            }
        },
        sortorder: "desc",
        viewrecords: true,
        editurl:'/counties/',
        caption:"县列表"
    });
    jQuery("#list_county").jqGrid('navGrid','#page_county',{edit:false,add:false,del:false});
    var selectedIds  = jQuery("#list_county").jqGrid("getGridParam","selarrrow");
</script>

<div class="modal fade" id="create_or_edit_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

</div>