<br/>
<div style="margin:10px;">
  <a id="create_province" class="btn btn-primary btn-sm active" role="button">添加省市</a>
  <a id="edit_province" href="javascript:edit_result()" class="btn btn-default btn-sm disabled" role="button">编辑省市</a>
  <a id="delete_province" href="javascript:delete_result()" class="btn btn-default btn-sm disabled" role="button">删除省市</a>
</div>
  <div id="doc_province">
    <span id = "province"><%= render partial: 'provinces/province_partial' %></span>
    <span id = "city"><%= render partial: 'provinces/city_partial' %></span>
    <span id = "county"><%= render partial: 'provinces/county_partial' %></span>
    <span id = "search"><a class="btn btn-primary btn-sm active" role="button" onclick="javascript:search_result()">查询</a></span>
  </div>

<br/>
<table id="list12"></table>
<div id="pager12"></div>

<script>
    var row_id;
    var selectedIds  = jQuery("#list12").jqGrid("getGridParam","selarrrow");
    jQuery("#list12").jqGrid({
        url:'/provinces',
        datatype: "json",
        colNames:['ID','省','简称', '英文拼写','市','县'],
        colModel:[
            {name:'ID',index:'id', width:240},
            {name:'name',index:'name', width:355},
            {name:'short_name',index:'short_name', width:300},
            {name:'spell_name',index:'spell_name', width:300},
            {name:'name',index:'city.name', width:355},
            {name:'name',index:'county.name', width:255}
        ],
        pager: jQuery('#pager12'),
        sortname: 'id',
        rowNum:20,
        autowidth: true,
        altRows: true,
        ignoreCase: true,
        multiselect: true,
        rowList:[10,20,30,40],
        sortname: 'id',
        onSelectRow : function(id){
            selectedIds  = jQuery("#list12").jqGrid("getGridParam","selarrrow");
            if(selectedIds.length!=0){
                $('#edit_province').removeClass('disabled');
                $('#delete_province').removeClass('disabled');
            }else{
                $('#edit_province').addClass('active');
                $('#delete_province').addClass('active');
            }
        },
        sortorder: "asc",
        viewrecords: true,
        caption:"省市列表"
    });

    $(function(){
        $( "#create_province" ).button().on( "click", function() {
            $.ajax({
                type:'get',
                url:'/provinces/new',
                success:function(data){
                    $('#create_or_edit_form').html(data)

                }
            })
            $('#create_or_edit_form').modal('show')
        });
    });
    function search_result(){
        var pro_id = $("#doctor_province_id").val();
        var city_id = $("#doctor_city_id").val();
        var county_id = $("#doctor_county_id").val();
        window.location.href = "/provinces?id=" + pro_id;
    };
    function edit_result(){
        if(selectedIds.length!=1){
            alert("请选中一个数据在进行编辑！");
            return;
        }
        $.ajax({
            type:'get',
            url:'/provinces/new',
            success:function(data){
                $('#create_or_edit_form').html(data);
            }
        })
        $('#create_or_edit_form').modal('show');
    };
    function delete_result(){
        if(confirm("确定要删除吗？") ) {
            $.ajax({
                type: 'delete',
                url: '/provinces/delete_result?ids=' + selectedIds,
                success: function (data) {
                    if (data['success']) {
                        alert('删除成功!')
                    } else {
                        alert('删除失败!')
                    }
                }
            });
        }
    }
</script>

<div class="modal fade" id="create_or_edit_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

</div>