
.index_model_box_2_3 {
    width: 788px;
    height: 222px;
    overflow: hidden;
    border: 1px solid #e8e8e8;
    background: #fff;
    padding: 15px;
    margin: 5px;
    float: left;
}

/*屏幕尺寸大于1200px */
@media (min-width: 1200px) {

    .index_model_box_2_3 {
        width: 788px;
        min-height: 222px;
        border: 1px solid #e8e8e8;
        background: #fff;
        padding: 15px;
        margin: 5px;
        float: left;
    }
}

/*屏幕尺寸小于960px*/
@media (max-width: 960px) {
    .index_model_box_2_3 {
        width: 64%;
        height: 222px;
        overflow: hidden;
        border: 1px solid #e8e8e8;
        background: #fff;
        padding: 15px;
        margin: 5px;
        float: left;
    }

}

/*屏幕尺寸小于480px*/
@media (max-width: 683px) {
    .index_model_box_2_3 {
        width: 100%;
        overflow: hidden;
        height: 222px;
        border: 1px solid #e8e8e8;
        background: #fff;
        padding: 15px;
        margin: 5px;
        float: left;
    }
}
.doctor_list_box {
    width: 98%;
    margin: 0 auto;
    line-height: 30px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.doctor_list_box dt {
    float: left;
    width: 75px;
    margin-right: 10px;
}

.doctor_list_box dd {
    line-height: 24px;
    float: left;
    width: 87%;
    font-family: "Microsoft YaHei", Arial;
    -webkit-margin-start: 0px !important;
}
.doctor_list_box dt img{
    width:100% !important;
    height:auto;
}

@media (max-width: 960px) {
    .doctor_list_box dd {
        line-height: 26px;
        float: left;
        width: 80%;
        font-family: "Microsoft YaHei", Arial;
        -webkit-margin-start: 0px !important;
    }
}

.doctor_list_box dd b {
    margin-right: 10px;
    font-family: "Microsoft YaHei", Arial;
    font-weight: bold;
    color: #666;
    font-size:13px;
}

.doctor_list_box dd span {
    font-family: "Microsoft YaHei", Arial;
    color: #666;
}

.doctor_list_name {
    font-family: "Microsoft YaHei", Arial;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #000;
    font-size:16px !important;
}

.doctor_list_lists {
    width: 100%;
    margin-top:10px;
}

.doctor_list_lists li {
    float: left;
    margin: 10px;
}
.doctor_list_lists li img{
    width:100% !important;
    height:auto;
}
