    /*屏幕尺寸大于1200px */
@media (min-width: 1200px) {

    .stickpagebody_box {
        width: 388px;
        float: left;
        display: inline-block;
        height: 310px;
        min-height: 120px;
        line-height: 16px;
        overflow: hidden;
        position: relative;
        margin:5px;
        background: #fff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.17);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.17);
        box-shadow: 0 1px 2px rgba(0,0,0,0.17);
        word-break: break-all;
        background:url(http://mimas-open.oss-cn-hangzhou.aliyuncs.com/assets/L_bg.jpg) no-repeat left bottom;
    }
}

/*屏幕尺寸小于960px*/
@media (max-width: 960px) {

    .stickpagebody_box {
        width:33%;
        float: left;
        display: inline-block;
        height: 310px;
        min-height: 120px;
        line-height: 16px;
        overflow: hidden;
        position: relative;
        margin:5px;
        background: #fff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.17);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.17);
        box-shadow: 0 1px 2px rgba(0,0,0,0.17);
        word-break: break-all;
        background:url(http://mimas-open.oss-cn-hangzhou.aliyuncs.com/assets/L_bg.jpg) no-repeat left bottom;

    }
}

/*屏幕尺寸小于480px*/
@media (max-width: 683px) {
    .stickpagebody_box {
        width:100%;
        float: left;
        display: inline-block;
        height: 310px;
        min-height: 120px;
        line-height: 16px;
        overflow: hidden;
        position: relative;
        margin:5px;
        background: #fff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.17);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.17);
        box-shadow: 0 1px 2px rgba(0,0,0,0.17);
        word-break: break-all;
        background:url(http://mimas-open.oss-cn-hangzhou.aliyuncs.com/assets/L_bg.jpg) no-repeat left bottom;

    }
}

.stickpagebody_box {
    width: 388px;
    float: left;
    display: inline-block;
    height: 310px;
    min-height: 120px;
    line-height: 16px;
    overflow: hidden;
    position: relative;
    margin:5px;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.17);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.17);
    box-shadow: 0 1px 2px rgba(0,0,0,0.17);
    word-break: break-all;
    background:url(http://mimas-open.oss-cn-hangzhou.aliyuncs.com/assets/L_bg.jpg) no-repeat left bottom;
}

ul li {
    list-style: none;
}

ul, li, div {
    margin: 0;
    padding: 0;
}

.fr {
    float: right;
}

.fl {
    float: left;
}
.g_t{
    font-size:18px;
    margin-bottom: 15px;
    font-weight:bold;
    color:#1c8a42;
    font-family:"Microsoft YaHei",Arial;

}
.l_con{
    margin:25px 15px 15px 15px;
}
.login_username {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    background: #fff;
    height: 34px;
    margin: 10px 0px;

}

.login_username_input {
    width: 98%;
    margin: 0 auto;
    background: url('http://dev-mimas.oss-cn-beijing.aliyuncs.com/2507ac6f-c92f-4bc4-8854-7a07a269a9b0.png') no-repeat left center;
    border: 0px;
    height: 32px;
    padding-left: 33px;
    outline: 0px;
    line-height: 30px;
    font-family: 'Microsoft YaHei', Verdana;
}

.login_password_input {
    width: 98%;
    margin: 0 auto;
    background: url('http://dev-mimas.oss-cn-beijing.aliyuncs.com/b5afd35c-b951-4d92-ad16-e83d4a9d1994.png') no-repeat left center;
    border: 0px;
    padding-left: 33px;
    height: 32px;
    outline: 0px;
    line-height: 30px;
    font-family: 'Microsoft YaHei', Verdana;
}

.login_btn {
    margin-top:10px;
    height: 32px;
    width: 100%;
    font-size: 16px;
    font-weight:bold;
    letter-spacing:15px;
    color: #ffffff;
    border-radius: 2px !important;
    border-top: 1px solid #ffb660;
    border-bottom: 1px solid #da7c0c;
    text-shadow: 0px 0px 1px #da7c0c;
    border-left: 1px solid #da7c0c;
    border-right: 1px solid #da7c0c;
    filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#faa51a, endColorStr=#f47a20);
    background: -ms-linear-gradient(top, #faa51a, #f47a20);
    background: -moz-linear-gradient(top, #faa51a, #f47a20);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#faa51a), to(#f47a20));
    background: -webkit-linear-gradient(top, #faa51a, #f47a20);
    background: -o-linear-gradient(top, #faa51a, #f47a20);
    font-family: 'Microsoft YaHei', Verdana;
}
