
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="row">
  <div class="logo col-md-2 col-sm-4 col-xs-5"><a href="/"><b>后台管理系统</b></a></div>
  <div class="navbar-inner col-md-9 col-sm-7 col-xs-6">
    <ul id="menu">
      <% if signed_in? %>
          <li id="fat-menu" class="pull-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul>
              <li><%= link_to "setting", '/admin2s/setting' %></li>
              <li>
                <%= link_to "退出", '/sessions/sign_out', method: "delete" %>
              </li>
            </ul>
          </li>
      <% end %>
    </ul>
  </div>
  </div>
</header>
<script>
    $( "#menu" ).menu();
</script>