#nav.navbar-inverse{
  background:#373737;
  border-bottom: 1px solid #272727;
}
.navbar-toggle .logo a:hover{
  background: url(http://fitark.org:8089/assets/logo-white-96c5cdf684c799df72c830d36ecc7fec.png) no-repeat center center #000;
}